.subcom_profile_name {
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    color: #feb14b;
    font-size: 18pt;
    letter-spacing: 0.1vw;
    position: relative;
    font-weight: 500;
    text-align: center;
    margin-top: 2vw
}

.subcom_profile_degree {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;   
    letter-spacing: 0.1vw;
    position: relative;
    white-space: initial;
    word-wrap: break-word;
    text-align: center;
    margin-top: 2vw;
}