/*-----------------------------Team page header-------------------------------*/
/*Header image*/
.crop {
    background-image: url('/team-header-1.png');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

/*Heading title*/
.title_area h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    letter-spacing: 8px;
    margin-top: 26vw;
    text-transform: uppercase;
}

/*---------------------------Executive team profiles--------------------------*/
/*Executive team section*/
.all_execs_section {
    align-content: center;
    justify-content: center;
}

.exec_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.exec_col {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex: 1;
}

/*Subtitle*/
h2.team-heading{
    padding: 75px 0px;
}

/*Executive profile images*/
.profile_crop {
    border-radius: 50%;
    height: 16vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    width: 16vw; 
}

.profile_img {
    background-size: cover;
    display: block;
    height: 100%;
    margin: 0 auto;
    transform: translate( -15%, 0);
    width: auto;
}

/*Transform executive profile images*/
.gab_img {
    transform: translate( 0%, 0);
}

.vivw_img {
    height: auto;
    transform: translate( -5%, -10%);
    width: 120%;
}

.alison_img {
    transform: translate( -17%, 0);
}

.eli_img {
    transform: translate( -7%, 0%);
}

.fel_img {
    transform: translate( -12%, 0);
}

/*Executive profile block*/
.profile {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
    position: relative;
}

/*Executive profile details*/
.profile_details {
    align-content: center;
    justify-content: space-evenly;
    line-height: 13pt;
    margin: 25px 0px 70px 0px;
    text-align: center;
}

/*Executive social media links*/
.icon_bar {
    align-content: center;
}
.icon {   
    border: 0;
    height: 25px;
    width: 25px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

/*Executive names*/
.profile_text_name {
    align-content: center;
    color: #feb14b;
    font-family: 'Playfair Display', serif;
    font-size: 24pt;
    letter-spacing: 0.1vw;
    position: relative;
    text-align: center;
}

/*Executive positions*/
.profile_text_position {
    align-content: center;
    color:  #313638;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    letter-spacing: 0.1vw;
    padding-top: 10pt;
    position: relative;
    text-align: center;
}

/*Executive degrees*/
.profile_degree {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;   
    font-weight: lighter;
    letter-spacing: 0.1vw;
    position: relative;
    white-space: initial;
    word-wrap: break-word;
    text-align: center;
}

/*---------------------------Subcommittee team profiles--------------------------*/
/*Subcommittee team section*/
.subcom-type {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #feb14b;
    margin-top: 2vw;
    margin-bottom: 6vw;
}

/*Transform subcommittee profile images*/
.alana_img {
    height: auto;
    transform: translate( -16%, -15%);
    width: 150%;
}

.chelsea_img {
    height: auto;
    transform: translate( -14%, -0%);
    width: 130%;
}

.gian_img {
    height: auto;
    transform: translate( 0%, 0%);
    width: 100%;
}

.anisa_img {
    height: auto;
    transform: translate( -5%, 0%);
    width: 120%;
}

.connie_img {
    height: auto;
    transform: translate( 0%, 0%);
    width: 100%;
}

.claire_img {
    height: auto;
    transform: translate( -3%, -10%);
    width: 120%;
}

.ariane_img {
    height: auto;
    transform: translate( -5%, -0%);
    width: 110%;
}

.rue_img {
    height: auto;
    transform: translate( 0%, 0%);
    width: 100%;
}

.angeni_img {
    height: auto;
    transform: translate( 1%, 0%);
    width: 100%;
}

.srija_img {
    height: auto;
    transform: translate( -5%, 0%);
    width: 110%;   
}