/*-------------------------------Size bar and image grid-----------------------------*/
#parent {
  display: table;
  overflow-y: auto;
  width: 100%;
  vertical-align: top;
  height: 100%;
}

.initiatives:not(#content) {
  width: 24vw;
  justify-content: center;
  box-shadow: 6px -2px 6px -4px #D3D3D3;
  padding-top: 30px;
  min-height: 400px;
}

.grid {
  display: table-cell;
  width: 75vw;
  margin-top: -240px;
  margin-left: 22vw;
}

/*-------------------------------Left side bar-----------------------------*/

/*Intiative*/
:root {
  --white: #fff;
  --yellow: #feb14b;
  --grey: #313638;
}

.initiatives {
  text-align: center;
  margin: 0 35px;
}

.initiatives * {
  display: block;
}

.initiatives label {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 12pt;
  color: #313638;
  padding: 10px;
  width: 20vw;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

label[for="2020"] {
  font-size: 32pt;
  color: #feb14b;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

input[type="radio"] {
    display:none;
}

.initiatives label:hover {
  background: var(--yellow);
  color: var(--white);
}

input[type="radio"][id="2020"]:checked + label {
  background: var(--yellow);
  color: var(--white);
}

input[type="radio"][id="crush"]:checked + label {
  background: var(--grey);
  color: var(--white);
}
input[type="radio"][id="crush"]:checked ~ .grid .trivia,
input[type="radio"][id="crush"]:checked ~ .grid .init3 {
  display: none;
}

input[type="radio"][id="init2"]:checked + label {
  background: var(--grey);
  color: var(--white);
}
input[type="radio"][id="init2"]:checked ~ .grid .crush,
input[type="radio"][id="init2"]:checked ~ .grid .init3,
input[type="radio"][id="init2"]:checked ~ .grid .trivia {
  display: none;
}

input[type="radio"][id="init3"]:checked + label {
  background: var(--grey);
  color: var(--white);
}
input[type="radio"][id="init3"]:checked ~ .grid .crush,
input[type="radio"][id="init3"]:checked ~ .grid .trivia  {
  display: none;
}
/*-------------------------------Image grid gallery-----------------------------*/
.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.grid .image img {
  width: auto;
  height: 24vw;
  padding-bottom: 30px;
}
