/*-------------------------------Size bar and image grid-----------------------------*/
#parent {
  display: table;
  overflow-y: auto;
  width: 100%;
  vertical-align: top;
  height: 100%;
}

.initiatives:not(#content) {
  width: 24vw;
  justify-content: center;
  box-shadow: 6px -2px 6px -4px #D3D3D3;
  padding-top: 30px;
  min-height: 400px;
}


.grid {
  display: table-cell;
  width: 75vw;
  margin-top: -240px;
  margin-left: 22.5vw;
}

/*-------------------------------Left side bar-----------------------------*/

/*Intiative*/
:root {
  --white: #fff;
  --yellow: #feb14b;
  --grey: #313638;
}

.initiatives {
  text-align: center;
  margin: 0 35px;
}

.initiatives * {
  display: block;
}

.initiatives label {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 12pt;
  color: #313638;
  padding: 10px;
  width: 20vw;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

label[for="2020"] {
  font-size: 32pt;
  color: #feb14b;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

input[type="radio"] {
    display:none;
}

.initiatives label:hover {
  background: var(--yellow);
  color: var(--white);
}

input[type="radio"][id="2020"]:checked + label {
  background: var(--yellow);
  color: var(--white);
}

input[type="radio"][id="crush"]:checked + label {
  background: var(--grey);
  color: var(--white);
}
input[type="radio"][id="crush"]:checked ~ .grid .mondaymot,
input[type="radio"][id="crush"]:checked ~ .grid .memes {
  display: none;
}

input[type="radio"][id="memes"]:checked + label {
  background: var(--grey);
  color: var(--white);
}
input[type="radio"][id="memes"]:checked ~ .grid .crush,
input[type="radio"][id="memes"]:checked ~ .grid .mondaymot {
  display: none;
}

input[type="radio"][id="mondaymot"]:checked + label {
  background: var(--grey);
  color: var(--white);
}
input[type="radio"][id="mondaymot"]:checked ~ .grid .crush,
input[type="radio"][id="mondaymot"]:checked ~ .grid .memes  {
  display: none;
}
/*-------------------------------Image grid gallery-----------------------------*/
.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: left;
}

.grid li {
  padding: 12px;

}

a.darken {
  display: inline-block;
  position: relative;
  width: 100%;
  background: black;
  text-align: center;
  width: 21.9vw;
  height: 21.9vw;
  transition: all 0.3s linear;
}

a.darken img {
  transition: all 0.3s linear;
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 22vw;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

a.darken:hover img {
  opacity: 0.2;
}

a.darken div {
  font-family: "Montserrat";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0);
}

a.darken:hover div {
  color: rgba(255, 255, 255, 1);
}
