/*-------------------------------Size bar and image grid-----------------------------*/
#parent {
  width: 100%;
  height: 100%;
  display: table;
}

/*-------------------------------Categories-----------------------------*/

/*Intiative*/
:root {
  --white: #fff;
  --yellow: #feb14b;
  --grey: #313638;
}

.initiatives {
  text-align: center;
  margin-top: 50px;
}

.initiatives * {
  display: block;
}

#contentLoading {
  color: var(--yellow);  
  margin-top: 10%;
  margin-bottom: 10%;
}

#contentLoadingContainer {
  display: flex;
  justify-content: center;
}

/*-------------------------------Image grid gallery-----------------------------*/
ol {
  padding: 0px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  width: 100%;
  padding: 30px 10px 0px 10px;
}

.grid li {
  padding: 12px;
}

a.darken {
  display: inline-block;
  position: relative;
  width: 100%;
  background: black;
  text-align: center;
  width: 21.9vw;
  height: 21.9vw;
  transition: all 0.3s linear;
}

a.darken img {
  transition: all 0.3s linear;
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 22vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a.darken:hover img {
  opacity: 0.2;
}

a.darken div {
  font-family: "Montserrat";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0);
}

a.darken:hover div {
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 520px) {
  .side {
    font-size: 16pt;
  }

  a.darken {
    width: 24.8vw;
    height: 24.8vw;
  }

  a.darken img {
    width: 25vw;
  }
}

@media only screen and (max-width: 450px) {
  .initiatives label {
    width: 80%;
  }
}
@media only screen and (max-width: 300px) {
  a.darken {
    width: 36.9vw;
    height: 36.9vw;
  }

  a.darken img {
    width: 37vw;
  }

  .initiatives label {
    width: 100%;
  }
}
