/*------------------------------Contact us body-----------------------------*/

/*Form*/
.form {
    text-align: center;
    margin: 60px auto 0px auto;
    max-width: 80%;
}

.inquiry {
    padding-bottom: 50px;
}

/*Form left*/
.formLeft {
    display: inline-block;
    padding: 10px 20px;
    width: 40%;
    height: 100%;
}

.formLeft form {
    float: left;
    text-align: left;
    width: 100%;
}

.formLeft textarea {
    border-style: none;
    border-bottom: solid;
    border-color: #777b7c;
    border-width: 2px;
    color: #777b7c;
    width: 100%;
}

input.formInput {
    color: #777b7c;
    padding: 5px;
    padding-left: 0px;
    background-color: #ffffff;

    border-style: none;
    border-bottom: solid;
    border-color:#777b7c;
    border-width: 2px;

    border-radius: 0px;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.formLeft form input.button {
    color: #ffffff;
    background-color: #e85f5c;
    text-align: center;
    margin-top: 20px;
    padding: 12px 10px 12px 10px;
    width: 120px;
}

form input.button:hover {
    background-color: #feb14b;
    color: #ffffff;
}

/* This changes the placeholder colour!! for forms. */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #313638;
    opacity: 70%; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #313638;
    opacity: 70%;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #313638;
    opacity: 70%;
}

input:focus::-webkit-input-placeholder {  /* Chrome */
    color: #313638;
}

/*Form image*/
.formRight {
    width: 50%;
    overflow: hidden;
    float: right;
}

/*Style for the Emails is below*/
.contact-team {
    margin-top: 50px;
}

.newEmails {
    height: 1000px;
}

.newEmails div.dot {
    height: 50px;
    width: 50px;
    background-color: #e85f5c;
    margin-bottom: 25px;
}

.newEmails img {
    height: 50px;
    width: 50px;
    margin-bottom: 25px;
}

.newEmails h3 {
    color: #feb14b;
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    font-weight: normal;
    letter-spacing: 2.5px;
}

.newEmails a {
    color: #777b7c;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
}

.newEmails a:hover {
    color: #feb14b;
    text-decoration: none;
}

.newEmails div.col2 {
    width: 57%;
    height: 450px;
    margin-left: 26%;
    margin-right: auto;
}

.newEmails div.profile2 {
    display: inline-block;
    width: 50%;
    padding: 30px;
    float: none;
    height: 200px;
    overflow: none;
}

.newEmails div.col3 {
    width: 80%;
    height: 450px;
    margin-left: 12%;
    margin-right: auto;
}

.newEmails div.profile3 {
    display: inline-block;
    width: 33%;
    padding: 30px;
    float: none;
    height: 230px;
    overflow: none;
}

.line-break {
    visibility: hidden;
}

/*-------------------------------Join us: different screen sizes ------------------------------*/
@media only screen and (max-width: 1200px) {
    .newEmails div.profile2 {
        padding: 25px;
    }

    .newEmails div.profile3 {
        padding: 25px;
    }    
}

@media only screen and (max-width: 1000px) {
    .formRight {
        display: initial;
        float: none;
    }

    .centre {
        height: 100%;
    }

    .formLeft {
        display: initial;
    }

    .newEmails {
        height: 1200px;
    }

    .newEmails div.col2 {
        width: 90%;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .newEmails div.col3 {
        width: 90%;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .newEmails div.profile3 {
        display: inline-block;
        width: 50%;
        padding: 30px;
        float: none;
        height: 200px;
        overflow-wrap: break-word;
    }

    .newEmails div.profile2 {
        overflow-wrap: break-word;
    }

    hr.solid {
        border-top: 2px solid #bbb;
    }

    .line-break {
        visibility: visible;
    }

    .newEmails img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .newEmails h3, a {
        text-align: center;
    }
}

@media only screen and (max-width: 910px) {
    .centre {
        width: 100%;
        height: 350px;
    }
}

@media only screen and (max-width: 650px) {
    .centre {
        height: 260px;
    }

    .newEmails {
        height: 2150px;
    }

    .newEmails div.profile3 {
        width: 100%;
    }

    .newEmails div.profile2 {
        width: 100%;
    }

    .newEmails div.col2 {
        width: 90%;
        height: 800px;
    }

    .newEmails a {
        font-size: 16px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }
}