/*--------------------------Our Story Preview------------------------------*/
/* Subheadings */
h1.oppSubheading {
    color: #feb14b;
    position: absolute;
    width: 815px;
    height: 61px;
    left: 86px;
    top: 574px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.05em;
}

h2.oppSubheading {
    color: #feb14b;
    position: absolute;
    width: 815px;
    height: 61px;
    left: 86px;
    top: 574px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.05em;
}

h3.oppSubheading {
    color: #feb14b;
    position: absolute;
    width: 815px;
    height: 61px;
    left: 86px;
    top: 574px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.05em;
}

/* Body text */

.ourmissionbody {
    color: #515151; 
    position: absolute;
    width: 596px;
    height: 272px;
    left: 70px;
    top: 675px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 0.1em;
}

.ourhistorybody {
    color:#515151;
    position: absolute;
    width: 867px;
    height: 196px;
    left: 70px;
    top: 1120px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 0.1em;
}

.timelinebody {
    color:#515151

}

/* Features */ 

.ourmissionimage {
    position: absolute;
    width: 237px;
    height: 266px;
    left: 700px;
    top: 678px;
    background: url(DSC_0199.jpg);
}

/* Timeline */
.Rectangle1{ 
    position: absolute;
    width: 132px;
    height: 67px;
    left: 71px;
    top: 1364px;
    background: #E85F5C;  
}

.Rectangle1Text{
    position: absolute;
    width: 54px;
    height: 27px;
    left: 107px;
    top: 1903px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    text-align: center;
    letter-spacing: 0.075em;

    color: #FFFFFF;
}

.Rectangle2{
    position: absolute;
    width: 132px;
    height: 67px;
    left: 68px;
    top: 1498px;
    background: #E85F5C;
}

.Rectangle2Text{
    position: absolute;
    width: 54px;
    height: 27px;
    left: 104px;
    top: 2037px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.075em;

    color: #FFFFFF;
}

.Rectangle3{
    position: absolute;
    width: 132px;
    height: 67px;
    left: 68px;
    top: 1635px;
    background: #E85F5C;
}

.Rectangle3Text{
    position: absolute;
    width: 55px;
    height: 27px;
    left: 104px;
    top: 2174px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.075em;
    color:#FFFFFF
}

.Rectangle4{
    position: absolute;
    width: 132px;
    height: 67px;
    left: 66px;
    top: 1793px;
    background: #E85F5C;
}

.Rectangle4Text{
    position: absolute;
    width: 54px;
    height: 27px;
    left: 102px;
    top: 2332px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    text-align: center;
    letter-spacing: 0.075em;

    color: #FFFFFF;
}

.Rectangle5{
    position: absolute;
    width: 132px;
    height: 67px;
    left: 66px;
    top: 1950px;
    background: #E85F5C
}

.Rectangle5Text{
    position: absolute;
    width: 60px;
    height: 27px;
    left: 99px;
    top: 2489px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    text-align: center;
    letter-spacing: 0.075em;

    color: #FFFFFF;
}

.Line4 {
    position: absolute;
    width: 745px;
    height: 0px;
    left: 229.23px;
    top: 1358px;

    border: 4px solid #C4C4C4;
    transform: rotate(89.86deg);
}

