/*--- Timeline Content ---*/
.timelineContent {
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  text-align: justify;
  color: var(--light-grey);
  padding-top: 20px;
  margin: auto 0;
}

.yearContent {
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  padding-left: 45px;
  font-size: 14pt;
  text-align: justify;
  color: #ffffff;
  margin: 0 auto;
}

.timelineSeparator {
  color: #c4c4c4;
}
