/*-------------------------------Home page header-----------------------------*/
/*Header image*/
.contain {
  background-image: url("/headers/header-1.jpg");
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  background-color: #313638;
}

/*Header title*/
div .headline {
  text-align: left;
  position: absolute;
  top: 20%;
  left: 54vw;
}

.headline h1 {
  color: #feb14b;
  font-family: "Playfair Display", serif;
  font-size: 5.5vw;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*Header subtitle*/
.headline p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.17vw;
  letter-spacing: 2.5px;
}

.headline button {
  border: 1px solid #e85f5c;
  background-color: #e85f5c;
  padding: 11px 11px;
}

.headline a {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.link {
  text-decoration: none;
}

.headline a:hover {
  color: white;
}

/*-----------------------------Home page description--------------------------*/
/*Description wrapper*/
.description {
  margin: auto;
  max-width: 85%;
  display: grid;
  padding: 100px 0px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

/*Description left block*/
.descriptionLeft {
  grid-area: auto / span 1;
}

/*Left block text*/
.descriptionLeft h1 {
  color: #feb14b;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5vw;

  font-weight: 600;
  letter-spacing: 4px;
  line-height: 100px;
  text-align: right;
}

/*Description right block*/
.descriptionRight {
  line-height: 22px;
  padding-top: 20px;
  grid-area: auto / span 1;
}

/*Right block text*/
.descriptionRight p {
  color: #313638b3;
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  text-align: justify;
}

/*---------------------------Home page statistics-----------------------------*/

/*Background image*/
.statsBackground {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.stats {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  display: inline-grid;
  grid-template-columns: 30% 30% 45%;
  left: 0;
  margin: 0 auto;
  place-items: center center;
  position: absolute;
  right: 0;
  text-align: center;
  width: 60%;
  bottom: 30%;
}

.number span {
  color: #feb14b;
  font-family: "Montserrat", sans-serif;
  font-size: 75pt;
  font-weight: 500;
  letter-spacing: 15px;
}

.number p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
}

/*--------------Statistics Mobile Design-------------------*/
@media only screen and (max-width: 1200px) {
  .number {
    width: 70%;
  }
}
@media only screen and (max-width: 1000px) {
  .number {
    grid-template-columns: 25% 30% 45%;
    position: absolute;
    width: 85%;
  }

  .number span {
    letter-spacing: 15px;
  }
  .number p {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 800px) {
  .number span {
    font-size: 12.5vw;
    letter-spacing: 8px;
  }

  .number p {
    font-size: 2.4vw;
  }

  .number {
    bottom: 33%;
    grid-template-columns: 28% 30% 45%;
    width: 85%;
  }
}

/*-------------------------------Home page events-----------------------------*/
/*Events block*/
.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  grid-column-gap: 50px;
  padding: 100px 0px;
  max-width: 85%;
  margin: 0 auto;
}

/*Events description grid area*/
.eventsDescription {
  /* grid-area: auto / span 1; */
  /* padding-top: 10px; */
  width: 100%;
  height: 100%;
  /* height: auto; */
  padding-bottom: 80px;
}

/*Events description text*/
.eventsDescription p {
  color: #313638b3;
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  text-align: right;
}

.eventsDescription p#about {
  padding: 20px;
  padding-bottom: 0;
}

.eventsDescription a {
  font-family: "Montserrat", sans-serif;
  text-align: right;
  color: #e85f5c;
  float: left;
}

/*Events title grid area*/
.eventsTitle {
  text-align: left;
  grid-area: 1 / 2;
}

.eventsTitle h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  text-align: left;
}

/*Big event image grid area*/
.event1 {
  /* grid-area: 2 / 2; */
  height: 100;
}

/*Big event image size*/
.event1 img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.event1:hover img {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.03);
}

.eventsDescription button {
  border: 1.5px solid #e85f5c;
  box-sizing: border-box;
  background-color: white;
  padding: 6px 6px;
}

.eventsDescription button:hover {
  border: 1.5px solid #db3d3b;
  background-color: #fff7f7;
}

.eventsDescription a {
  font-weight: 500;
}

.eventsDescription a:hover {
  color: #e85f5c;
}

/*---------------Slideshow-------------------*/

.carousel {
  text-align: center;
  /* margin: auto; */
  padding: 100px 50px;
  /* width: 85%; */
  position: relative;
}

/* .mySlides {display: none} */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.eventsDescription .left {
  width: 50%;
  height: 100%;
  float: left;
  padding: 21px 15px 10px 80px;
}

.eventsDescription .left p#about {
  padding: 20px;
  padding-bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.eventsDescription .right {
  width: 50%;
  height: 100%;
  float: right;
  padding: 10px 55px 10px 15px;
}

.eventsDescription .right h1 {
  text-align: left;
  grid-area: 1 / 2;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
}

.right img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.right a {
  font-family: "Montserrat", sans-serif;
  text-align: right;
  color: #e85f5c;
  float: left;
  height: 100%;
}

.right:hover img {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.03);
}

.carousel .buttonBack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 30px solid #313638;
  border-left: 0;
  padding: 0;
  background-color: transparent;
  outline: 0;
}

.carousel .buttonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 30px solid #313638;
  border-right: 0;
  padding: 0;
  background-color: transparent;
  outline: 0;
}

.buttonBack:disabled {
  border-right: 30px solid #c4c4c4;
}

.buttonNext:disabled {
  border-left: 30px solid #c4c4c4;
}

.titleMobile h1 {
  display: none;
  text-align: center;
  grid-area: 1 / 2;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
}

/* .home_publications__ncQSH img { */
/* margin-top: 50px; */
/* width: 50%; */
/* max-width: 500px; */
/* text-align: right; */
/* float: right; */

/*--------------Newsletter-------------------*/
.subscribeBtn {
  position: absolute;
  right: 20%;
  text-align: center;
  width: 60%;
  bottom: 37%;
  color: #ffffff;
  background-color: #e85f5c;
  padding: 12px 10px 12px 10px;
  border: none;
  font-size: 2vw;
  text-transform: uppercase;
  border: none;
  letter-spacing: 3px;
}

.signUpForm span {
  color: #e85f5c;
  font-family: "Montserrat", sans-serif;
}

.signUpForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------Newsletter Mobile Design-------------------*/
@media only screen and (max-width: 1200px) {
  .subscribeBtn {
    font-size: 20pt;
    width: 70%;
    right: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .subscribeBtn {
    font-size: 16pt;
    width: 70%;
    right: 15%;
    bottom: 38%;
  }
}

@media only screen and (max-width: 400px) {
  .subscribeBtn {
    font-size: 14pt;
    width: 80%;
    right: 10%;
  }
}

/*------------------------------Home page sponsors----------------------------*/
/*Sponsors image position*/
.sponsors {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 85%;
}

.sponsors h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  letter-spacing: 3px;
  text-align: center;
  margin: 0px;
  line-height: normal;
}

.sponsors img {
  margin-top: 50px;
  width: 100%;
  max-width: 900px;
}

/*--------------Publications-------------------*/
#publicationsLoading {
  color: #feb14b;
  margin-top: 7%;
  margin-bottom: 8%;
}

.publications {
  text-align: center;
  margin: auto;
  /* padding: 100px 0px; */
  width: 85%;
}

.publications h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  letter-spacing: 3px;
  line-height: 100px;
  text-align: center;
  margin: 0px;
  line-height: normal;
}

.publications img {
  /* margin-top: 50px; */
  width: 100%;
  max-width: 900px;
}

.publications .articlesDiv {
  margin-top: 60px;
  margin-bottom: 40px;
}

.articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 85%;
  margin: 0 auto;
}

.homeArticles div {
  margin: 0;
}

.slide_component {
  height: 100%;
}

/*--------------Responsive Mobile Design-------------------*/

@media only screen and (max-width: 850px) {
  .events {
    padding: 50px 0px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
  }

  /* Use a Flexbox to switch positions of Title and Description. */
  /*Events title - flexbox*/
  .eventsTitle {
    margin: 0 auto;
    order: 1;
    padding-left: 0px;
  }

  .eventsTitle h1 {
    text-align: center;
    font-size: 9vw;
  }

  /*Events description text - flexbox*/
  /* .eventsDescription {
    order: 2;
    padding: 0px;
    height: 400px;
  } */

  /*Events description text*/
  /* .eventsDescription p {
    text-align: justify;
    margin: 20px 0;
  } */

  .eventsDescription a {
    text-align: justify;
    /* padding-left: 20px; */
  }

  /*Big event image area - flexbox*/
  .event1 {
    order: 3;
  }

  .contain {
    background-position: center bottom 40%;
    height: 66vh;
  }

  /*Header title*/
  div .headline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 15%;
    height: 63vh;
  }

  .headline button {
    padding: 8px 8px;
  }

  .headline h1 {
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /*Header subtitle*/
  .headline p {
    font-size: 10pt;
    letter-spacing: 2.5px;
  }

  .headline a {
    font-size: 12px;
  }

  .description {
    max-width: 85%;
    display: block;
    padding: 0px;
  }

  .descriptionLeft {
    width: 100%;
    padding: 50px 0px 0px 0px;
    height: auto;
  }

  .descriptionLeft h1 {
    padding: 0px;
    font-size: 9vw;
    line-height: 90px;
  }

  .descriptionRight {
    width: 100%;
    height: auto;
    padding: 20px 0px 50px 0px;
  }

  .sponsors {
    padding: 50px 0;
  }

  .sponsors h1 {
    font-size: 9vw;
  }

  .sponsors img {
    margin-top: 20px;
  }
}
/* 
@media only screen and (max-width: 640px) {
  .eventsDescription p#about {
    padding-left: 0px;
    padding-right: 0px;
  }

  .event1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .eventsDescription a {
    padding: 0px;
  }

  div .headline {
    height: 58vh;
  }
} */

@media only screen and (max-width: 1065px) {
  .publications .homeArticles {
    padding: 15px 15px 15px 15px;
    display: inline-block;
  }
}

@media only screen and (max-width: 990px) {
  .sponsors {
    padding: 100px 0;
  }

  .carousel {
    padding-top: 50px;
    padding-bottom: 50px;
    /* max-width: 85%;
    margin: 0; */
    width: 100%;
  }

  .eventsDescription {
    order: 2;
    padding: 0px;
    height: auto;
    max-width: 90%;
    margin: auto;
    padding: 5px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content:center; */
  }

  .eventsDescription .left {
    padding: 0px 5px 0px 5px;
    width: 85%;
    height: auto;
    float: none;
    margin: auto;
  }

  .left p {
    margin: 20px 0;
    text-align: justify;
  }

  .eventsDescription .right {
    padding: 0px 5px 0px 5px;
    width: 85%;
    height: auto;
    float: none;
    margin: auto;
  }

  .eventsDescription .right h1 {
    font-size: 5vw;
    text-align: center;
    display: none;
  }

  .right img {
    object-fit: contain;
    /* max-height: 50%;
    max-width: 50%; */
  }

  .right a {
    /* padding-left: 20px; */
    height: auto;
    text-align: center;
  }

  /* .buttonBack {
    display: none;
    margin-left: 35px; 
  }

  .buttonNext {
    display: none;
    margin-right: 35px; 
  } */

  .titleMobile h1 {
    display: contents;
    font-size: 55px;
    padding-top: 50px;
  }

  .dot {
    display: contents;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
}
/* 
@media only screen and (max-width: 700px) {
  .eventsDescription .left p {
    font-size: 10px;
    margin-top: 7px; 
  }
} */

@media only screen and (max-width: 850px) {
  .publications {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .publications h1 {
    font-size: 9vw;
    /* padding-bottom: 15px; */
  }

  .publications .articlesDiv {
    margin-top: 15px;
  }

  .titleMobile h1 {
    display: contents;
    font-size: 9vw;
    padding-top: 50px;
  }
}

/* adjusting font size of carousel description  */

@media only screen and (max-width: 946px) {
  .eventsDescription .left p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .eventsDescription {
    max-width: 80%;
  }
}

@media only screen and (max-width: 990px) {
  .slide_component {
    height: 840px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
}

@media only screen and (max-width: 700px) {
  .slide_component {
    height: 670px;
    /* padding-bottom: 0;  */
    /* width: 100%; */
  }

  .carousel {
    /* padding-right: 0; 
    padding-left: 0; 
    padding-bottom: 40px; */
    padding: 40px 0;
  }

  .carousel .buttonBack {
    margin-left: 25px;
  }

  .carousel .buttonNext {
    margin-right: 25px;
  }

  .carousel .buttonBack:disabled {
    margin-left: 50px;
  }

  .carousel .buttonNext:disabled {
    margin-right: 50px;
  }
}

/* adjusting button size and position
@media only screen and (max-width: 650px) {

  
} */

@media only screen and (max-width: 550px) {
  .slide_component {
    height: 600px;
    /* width: 100%; */
  }

  .carousel .buttonBack {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 24px solid #313638;
    margin-left: 20px;
  }

  .carousel .buttonNext {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 24px solid #313638;
    margin-right: 20px;
  }

  .carousel .buttonBack:disabled {
    border-right: 24px solid #c4c4c4;
    margin-left: 20px;
  }

  .carousel .buttonNext:disabled {
    border-left: 24px solid #c4c4c4;
    margin-right: 20px;
  }
}
/* 
.slide_component {
  display: contents; 
} */

/* add height: 250px to both class=Homecarousel and class=Horizontal Slider, remove max-height from class=SlideInner */

@media only screen and (max-width: 500px) {
  .number {
    bottom: 40%;
  }
}

/* Adjusting height of header and header decription */
@media only screen and (max-width: 1366px) {
  div .headline {
    top: 28%;
  }
}

@media only screen and (max-width: 1112px) {
  div .headline {
    top: 28%;
  }
}

@media only screen and (max-width: 872px) {
  .contain {
    height: 150vh;
  }

  div .headline {
    top: 70%;
  }
}

@media only screen and (max-width: 782px) {
  div .headline {
    top: -1%;
  }
}

@media only screen and (max-width: 736px) {
  .contain {
    height: 150vh;
  }

  div .headline {
    top: 50%;
  }
}

@media only screen and (max-width: 678px) {
  div .headline {
    top: 90%;
  }
}

@media only screen and (max-width: 667px) {
  div .headline {
    top: 50%;
  }
}

@media only screen and (max-width: 568px) {
  div .headline {
    top: 40%;
  }
}

@media only screen and (max-width: 414px) {
  div .headline {
    top: -1%;
  }

  .contain {
    height: 66vh;
  }
}

@media only screen and (max-width: 413px) {
  div .headline {
    top: 12.25%;
  }
}

@media only screen and (max-width: 391px) {
  div .headline {
    top: 5%;
  }
}

@media only screen and (max-width: 375px) {
  div .headline { 
    top: 1%;
  }
}

@media only screen and (max-width: 320px) {
  div .headline {
    top: -3.5%;
  }
}
