/*-------------------------------Marketing archive page header-----------------------------*/
/*Header image*/
.marketingCoverPhoto{
    background-image: url('/marketing-header.png');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

/*Heading title*/
.title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    letter-spacing: 8px;
    margin-top: 26vw;
    text-transform: uppercase;
    text-align: center;
  }

  /*Intro paragraph*/
  p.intro {
    color: #707070;
    padding-top: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    text-align: center;
    margin: auto;
    width: 40%;
  }

  /*Year sections*/
  p.year {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
    color: #feb14b;;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }
