/*------------------------------Publications header--------------------------------*/
/*Header image*/
.publicationsHeader {
    background-image: url('/events-header.jfif');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  /*Heading title*/
  .title_area h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    letter-spacing: 8px;
    margin-top: 26vw;
    text-transform: uppercase;
    position: relative;
  }

.events-body {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
}

h2 {
    margin-top: 8%;
    margin-bottom: 4%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
}

.upcoming {
    display: flex;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
}

.event-description {
    margin: 50px 30px;
    padding: 0;
}

.event-name {
    color: #feb14b;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1pt;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.event-date {
    color: #313638;
    letter-spacing: 0.1vw;
    font-size: 8pt;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.event-summary {
    color: #707070;
    letter-spacing: 0.1vw;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0;
    padding-bottom: 5px;
    margin-top: 10px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.event-link li {
    margin: 0 10px;
    float: right;
}

.class a {
    font-family: 'Montserrat', sans-serif;
    color: #e85f5c;
    letter-spacing: 0.1vw;
    font-size: 10pt;
}

.class a:hover {
    font-family: 'Montserrat', sans-serif;
    color: #feb14b;
    letter-spacing: 0.1vw;
    font-size: 10pt;
    text-decoration: none;
}


#past-events.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    display: flex;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
}

img {
    max-width: 100%;
    height:auto;
}