/*------------------------------Upcoming Events--------------------------------*/
.events-body {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.events-body h2 {
  margin-top: 8%;
  margin-bottom: 4%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
}

.upcoming {
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
}

.event-description {
  margin: 50px 30px;
  padding: 0;
}

.event-name {
  color: #feb14b;
  font-family: "Playfair Display", serif;
  letter-spacing: 1pt;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.event-date {
  color: #313638;
  letter-spacing: 0.1vw;
  font-size: 8pt;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.event-summary {
  color: #707070;
  letter-spacing: 0.1vw;
  font-size: 10pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 0;
  padding-bottom: 5px;
  margin-top: 10px;
  margin: 0;
}

ul#links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.event-link {
  margin: 0 10px;
  float: right;
}

a.event {
  font-family: "Montserrat", sans-serif;
  color: #e85f5c;
  letter-spacing: 0.1vw;
  font-size: 10pt;
}

a:hover.event {
  font-family: "Montserrat", sans-serif;
  color: #feb14b;
  letter-spacing: 0.1vw;
  font-size: 10pt;
  text-decoration: none;
}

/*------------------------------Past Events--------------------------------*/
#past-events.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  display: flex;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
}

img.event-images {
  max-width: 100%;
  object-fit: contain;
}

p.lookout {
  text-align: center;
}

#eventResources {
  text-transform: uppercase;
  color: #e85f5c;
}

/*---------------------------Loading Sign--------------------------*/
#eventsLoading {
  color:#feb14b;  
  margin-top: 5%;
  margin-bottom: 5%;
}

#eventsLoadingContainer {
  display: flex;
  justify-content: center;
}

/*------------------------------Responsive Mobile Design--------------------------------*/
@media only screen and (max-width: 650px) {
  .events-body {
    max-width: 90%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .events-body {
    max-width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  #past-events.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
}
