
/*hides label (we need a label as placeholders are not accessible).
  Adding a label tells users what the input field is*/
.visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.searchBar {
    width: 60%
}