/* Pagination component */
li.pagination {
    display: inline-block;
    padding: 2px 2px;
    margin-bottom: 40px;
}

/* Pagination items */
.pagination a {
    color: #676767;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.pagination a.disabled {
    opacity: 0.5;
    color:rgba(105, 105, 105, 0.918);
    cursor: default;
}

/* Current page item */
.pagination a.active {
    background-color: #e85f5c;
    color: white;
}

/* hover */
.pagination a:hover:not(.active, .disabled) {
    background-color: #feb14b;;
    color: white;
}


