/*----------------------------------Scroll Up Button Container------------------------------------*/
.scrollUp {
	opacity: 1;
	background-color: #e85f5c;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 10em;
	right: -50px;
	border-radius: 100%;
  border: none;
  /*
	border: solid;
  border-color: white;
  border-width: thin;*/
	color: white;
  z-index: 4;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);  
}

/*----------------------------------Scroll Up Button Animations------------------------------------*/
.showBtn {
  -webkit-animation: showSlide 0.5s forwards;
  animation: showSlide 0.5s forwards;
}

.hideBtn {
  -webkit-animation: hideSlide 1s forwards;
  animation: hideSlide 1s forwards;
}

.scrollUp:hover {
	opacity: 0.85;
}

@-webkit-keyframes showSlide {
  100% { 
    right: 2em; 
  }
}

@keyframes showSlide {
  100% { 
    right: 2em; 
  }
}

@-webkit-keyframes hideSlide {
  100% { 
    right: -80px; 
  }
}

@keyframes hideSlide {
  100% { 
    right: -80px; 
  }
}

/*----------------------------------Mobile responsiveness------------------------------------*/
@media only screen and (max-width: 450px) {
  .scrollUp {
    bottom: 1.5em;
  }
  
  @-webkit-keyframes showSlide {
    100% { 
      right: 1.5em; 
    }
  }

  @keyframes showSlide {
    100% { 
      right: 1.5em; 
    }
  }
}
