/*-------------------------------Join us socials------------------------------*/
/*Body block*/
.joinUsBody {
  max-width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 200px;
}

/*Google Map screenshot image*/
.googleMap {
  width: 42%;
  padding-left: 200px;
  height: 300px;
  float: left;
  object-fit: cover;
}

/*Right side block*/
.joinUsRight {
  width: 58%;
  text-align: left;
  padding: 0px 5% 5% 0%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Heading*/
.header {
  font-family: "Montserrat", sans-serif;
  font-size: 33pt;
  padding-top: 50px;
  padding-bottom: 0px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}

/*Container for buttons*/
.joinButtons {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 45px;
}

/*Social links*/
.joinLink {
  justify-self: center;
  width: 60px;
  height: 60px;
  padding: 4px;
}

.joinLink img {
  width: 100%;
  height: 100%;
}

/* Loading sign */
#joinLoading {
  color:#feb14b;
  margin: 20% auto auto auto;  
}

/* Headings in how to join */
.descriptionHowto {
  line-height: 22px;
  padding-top: 50px;
  padding-right: 250px;
  padding-left: 250px;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  text-align: justify;
  color: #313638;
}

/* Body in how to join */
.descriptionHowto p {
  color: #313638b3;
}

/* Links in how to join */
.link {
  color: #e85f5c;
}

.link:hover {
  color: #feb14b;
}

/*-------------------------------Join us ipad------------------------------*/
@media only screen and (max-width: 1100px) {
  .centre {
    font-size: 40px;
    margin: 0px;
  }
  .descriptionHowto {
    padding-right: 100px;
    padding-left: 100px;
  }

  .googleMap {
    padding-left: 100px;
  }

  .joinUsRight {
    padding-right: 0%;
  }
}

/*-------------------------------Join us mobile------------------------------*/
@media only screen and (max-width: 850px) {
  .joinUsRight {
    float: none;
    width: 100%;
    height: 180px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px;
  }

  .googleMap {
    float: none;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
  }

  .joinUsBody {
    max-width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .header {
    font-size: 22pt;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .joinButtons {
    margin: 0 auto;
  }

  .joinLink {
    margin: auto;
    height: 40px;
    width: 40px;
  }

  .centre {
    font-size: 22px;
  }

  a.lastBtn {
    margin-right: 0px;
  }

  .descriptionHowto {
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 11pt;
  }

  .descriptionHowto p {
    font-size: 10pt;
  }
}

/*-------------------------------Join us very small screen------------------------------*/
@media only screen and (max-width: 260px) {
  .joinLink {
    display: block;
  }

  .joinUsRight {
    height: 200px;
  }

  .header {
    font-size: 20pt;
  }

  .googleMap {
    padding-left: 0px;
  }
}
