/*-------------------------------Join us socials------------------------------*/
/*Body block*/
.joinUsBody {
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 125px;
    margin-bottom: 300px;
}

/*Google Map screenshot image*/
.googleMap {
    display: inline-block;
    width: 43%;
    padding: 0px;
    height: 300px;
    float:left;
    object-fit: cover;
}

/*Right side block*/
.joinUsRight {
    display: inline-block;
    width: 57%;
    height: 300px;
    text-align: left;
    padding: 0px 10px 10% 10%;
    float:right;
}

/*Heading*/
.joinUsRight h2 {
    text-align: left;
}

/*Container for buttons*/
.joinButtons {
  position: relative;
  display: inline-block;
}

/*Social links*/
.joinButtons a {
  display: inline-block;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  padding: 4px 4px 4px 4px;
  margin-bottom: 6px;
}
