/*------------------------------Join us header--------------------------------*/
/*Header image*/
.joinUsHeader {
  background-image: url('/join-header-1.png');
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

/*Heading title*/
.title_area h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
  letter-spacing: 8px;
  margin-top: 26vw;
  text-transform: uppercase;
}

/*-------------------------------Join us socials------------------------------*/
/*Body block*/
.joinUsBody {
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 125px;
    margin-bottom: 300px;
}

/*Google Map screenshot image*/
.googleMap {
    display: inline-block;
    width: 43%;
    padding: 0px;
    height: 300px;
    float:left;
    object-fit: cover;
}

/*Right side block*/
.joinUsRight {
    display: inline-block;
    width: 57%;
    height: 300px;
    text-align: left;
    padding: 0px 10px 10% 10%;
    float:right;
}

/*Heading*/
.joinUsRight h2 {
    text-align: left;
}

/*Container for buttons*/
.joinButtons {
  position: relative;
  display: inline-block;
}

/*Social links*/
.joinButtons a {
  display: inline-block;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  padding: 4px 4px 4px 4px;
  margin-bottom: 6px;
}
