/*-------------------------------Join us socials------------------------------*/
/*Body block*/
.joinUsBody {
  max-width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 150px;
  margin-bottom: 200px;
}

/*Google Map screenshot image*/
.googleMap {
  width: 50%;
  height: 350px;
  padding: 0px;
  float: left;
  object-fit: cover;
}

/*Right side block*/
.joinUsRight {
  width: 50%;
  padding: 0px 0% 5% 0%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Top Heading*/
.header {
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

/*Heading of sections*/
.section {
  font-family: "Montserrat", sans-serif;
  font-size: 33pt;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
}

/*Container for buttons*/
.joinButtons {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 45px;
}

/*Social links*/
.joinLink {
  justify-self: center;
  width: 60px;
  height: 60px;
  padding: 4px;
}

.joinLink img {
  width: 100%;
  height: 100%;
}

/*Social Tooltip Styles*/
.tooltipTitle {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
}

.tooltipDescription {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Loading sign */
#joinLoading {
  color: #feb14b;
  margin: 20% auto auto auto;
}

/*-------------------------------How to section------------------------------*/

/* Headings in how to join */
.descriptionHowto {
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  text-align: justify;
  color: var(--light-grey);
  width: 80%;
  margin: 0 auto;
}

/* Body in how to join */
.descriptionHowto p {
  color: var(--light-grey);
}

/* Links in how to join */
.link {
  color: #e85f5c;
  text-decoration: underline;
}

.link:hover {
  color: #feb14b;
}

/* Portfolios grid */
.whatTo {
  max-width: 75%;
  margin: auto;
  margin-top: 50px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  color: black;
}

.edu {
  display: flex;
  padding: 20px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #ffdfb4;
  cursor: pointer;
}

.desc {
  font-size: 12pt;
  text-align: left;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}

.events {
  display: flex;
  padding: 20px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #b4c9e8;
  cursor: pointer;
}

.externals {
  display: flex;
  padding: 20px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #deb4b4;
  cursor: pointer;
}

.hr {
  display: flex;
  padding: 20px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #aad9c2;
  cursor: pointer;
}

.it {
  display: flex;
  padding: 20px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #dfc6ee;
  cursor: pointer;
}

.marketing {
  display: flex;
  padding: 20px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  background-color: #c0e5f3;
  cursor: pointer;
}

/*-------------------------------FAQ Section------------------------------*/
.accordion {
  max-width: 80%;
  margin: auto;
  padding-bottom: 100px;
}

.accordionHeading {
  font-size: 14pt;
  font-family: "Montserrat", sans-serif;
  color: var(--light-grey);
}

.accordionDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: var(--light-grey);
}

/*-------------------------------Newsletter------------------------------*/

/*Background image*/
.statsBackground {
  width: 100%;
  height: 300px;
}

.stats {
  position: relative;
}

/*Newsletter content*/
.subscribeBtn {
  position: absolute;
  right: 20%;
  text-align: center;
  width: 60%;
  bottom: 37%;
  color: #ffffff;
  background-color: #e85f5c;
  padding: 12px 10px 12px 10px;
  border: none;
  font-size: 2vw;
  text-transform: uppercase;
  border: none;
  letter-spacing: 3px;
}

.signUpForm span {
  color: #e85f5c;
  font-family: "Montserrat", sans-serif;
}

.signUpForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------Newsletter Mobile Design-------------------*/
@media only screen and (max-width: 1200px) {
  .subscribeBtn {
    font-size: 20pt;
    width: 70%;
    right: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .subscribeBtn {
    font-size: 16pt;
    width: 70%;
    right: 15%;
    bottom: 38%;
  }
}

@media only screen and (max-width: 400px) {
  .subscribeBtn {
    font-size: 14pt;
    width: 80%;
    bottom: 35%;
    right: 10%;
  }
}

/*-------------------------------Join us ipad------------------------------*/
@media only screen and (max-width: 1366px) {
  .whatTo {
    max-width: 75%;
  }

  .desc {
    font-size: 12pt;
    max-height: 190px;
    max-width: 400px;
  }

  .edu {
    max-height: 90px;
    max-width: 450px;
    padding: 160px 10px 160px 10px;
  }

  .events {
    max-height: 90px;
    max-width: 450px;
    padding: 160px 10px 160px 10px;
  }

  .externals {
    max-height: 90px;
    max-width: 450px;
    padding: 160px 10px 160px 10px;
  }

  .hr {
    max-height: 90px;
    max-width: 450px;
    padding: 160px 10px 160px 10px;
  }

  .it {
    max-height: 90px;
    max-width: 450px;
    padding: 160px 10px 160px 10px;
  }

  .marketing {
    max-height: 90px;
    max-width: 450px;
    padding: 160px 10px 160px 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .centre {
    font-size: 40px;
    margin: 0px;
  }

  .whatTo {
    max-width: 85%;
  }

  .desc {
    font-size: 11pt;
  }
}

@media only screen and (max-width: 1112px) {
  .whatTo {
    max-width: 75%;
  }

  .edu {
    max-height: 90px;
    max-width: 450px;
    padding: 130px 10px 130px 10px;
  }

  .events {
    max-height: 90px;
    max-width: 450px;
    padding: 130px 10px 130px 10px;
  }

  .externals {
    max-height: 90px;
    max-width: 450px;
    padding: 130px 10px 130px 10px;
  }

  .hr {
    max-height: 90px;
    max-width: 450px;
    padding: 130px 10px 130px 10px;
  }

  .it {
    max-height: 90px;
    max-width: 450px;
    padding: 130px 10px 130px 10px;
  }

  .marketing {
    max-height: 90px;
    max-width: 450px;
    padding: 130px 10px 130px 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .edu {
    max-height: 90px;
    max-width: 450px;
    padding: 120px 10px 120px 10px;
  }

  .desc {
    font-size: 9pt;
    max-height: 190px;
    max-width: 400px;
  }

  .events {
    max-height: 90px;
    max-width: 450px;
    padding: 120px 10px 120px 10px;
  }

  .externals {
    max-height: 90px;
    max-width: 450px;
    padding: 120px 10px 120px 10px;
  }

  .hr {
    max-height: 90px;
    max-width: 450px;
    padding: 120px 10px 120px 10px;
  }

  .it {
    max-height: 90px;
    max-width: 450px;
    padding: 120px 10px 120px 10px;
  }

  .marketing {
    max-height: 90px;
    max-width: 450px;
    padding: 120px 10px 120px 10px;
  }
}

/*-------------------------------Join us mobile------------------------------*/
@media only screen and (max-width: 900px) {
  .joinUsRight {
    float: none;
    width: 100%;
    height: 180px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px;
  }

  .googleMap {
    float: none;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
  }

  .joinUsBody {
    max-width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .header {
    font-size: 22pt;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .joinButtons {
    margin: 0 auto;
  }

  .joinLink {
    margin: auto;
    height: 40px;
    width: 40px;
  }

  .centre {
    font-size: 22px;
  }

  a.lastBtn {
    margin-right: 0px;
  }

  .descriptionHowto {
    padding-top: 0px;
    font-size: 11pt;
    width: 80%;
    margin: 0 auto;
  }

  .descriptionHowto p {
    font-size: 10pt;
  }

  .whatTo {
    height: inherit;
    max-width: 70%;
    display: block;
    margin-top: 40px;
  }

  .desc {
    font-size: 11pt;
    max-height: 300px;
    max-width: 1000px;
  }

  .accordion {
    padding-top: 0px;
  }

  .accordionHeading {
    font-size: 11pt;
  }

  .accordionDetails {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 834px) {
  .edu {
    margin-top: 10px;
    max-height: 540px;
    max-width: 580px;
    padding: 270px 30px 270px 30px;
  }

  .externals {
    margin-top: 10px;
    max-height: 540px;
    max-width: 580px;
    padding: 270px 30px 270px 30px;
  }

  .events {
    margin-top: 10px;
    max-height: 540px;
    max-width: 580px;
    padding: 270px 30px 270px 30px;
  }

  .hr {
    margin-top: 10px;
    max-height: 540px;
    max-width: 580px;
    padding: 270px 30px 270px 30px;
  }

  .it {
    margin-top: 10px;
    max-height: 540px;
    max-width: 580px;
    padding: 270px 30px 270px 30px;
  }

  .marketing {
    margin-top: 10px;
    max-height: 540px;
    max-width: 580px;
    padding: 270px 30px 270px 30px;
  }
}

@media only screen and (max-width: 782px) {
  .edu {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .externals {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .events {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .hr {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .it {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .marketing {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .desc {
    font-size: 12pt;
    max-height: 190px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .whatTo {
    padding-left: 0px;
  }

  .edu {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .externals {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .events {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .hr {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .it {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .marketing {
    max-height: 520px;
    max-width: 540px;
    padding: 260px 30px 260px 30px;
  }

  .desc {
    font-size: 11pt;
    max-height: 190px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 736px) {
  .whatTo {
    padding-left: 130px;
  }

  .edu {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .externals {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .events {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .hr {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .it {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .marketing {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }
}

@media only screen and (max-width: 694px) {
  .whatTo {
    padding-left: 0px;
  }

  .edu {
    max-height: 470px;
    max-width: 570px;
    padding: 240px 10px 240px 10px;
  }

  .externals {
    max-height: 470px;
    max-width: 570px;
    padding: 240px 10px 240px 10px;
  }

  .events {
    max-height: 470px;
    max-width: 570px;
    padding: 240px 10px 240px 10px;
  }

  .hr {
    max-height: 470px;
    max-width: 570px;
    padding: 240px 10px 240px 10px;
  }

  .it {
    max-height: 470px;
    max-width: 570px;
    padding: 240px 10px 240px 10px;
  }

  .marketing {
    max-height: 470px;
    max-width: 570px;
    padding: 240px 10px 240px 10px;
  }
}

@media only screen and (max-width: 568px) {
  .whatTo {
    padding-left: 0px;
  }

  .edu {
    max-height: 390px;
    max-width: 560px;
    padding: 190px 10px 190px 10px;
  }

  .externals {
    max-height: 390px;
    max-width: 560px;
    padding: 190px 10px 190px 10px;
  }

  .events {
    max-height: 390px;
    max-width: 560px;
    padding: 190px 10px 190px 10px;
  }

  .hr {
    max-height: 390px;
    max-width: 560px;
    padding: 190px 10px 190px 10px;
  }

  .it {
    max-height: 390px;
    max-width: 560px;
    padding: 190px 10px 190px 10px;
  }

  .marketing {
    max-height: 390px;
    max-width: 560px;
    padding: 190px 10px 190px 10px;
  }
}

@media only screen and (max-width: 508px) {
  .whatTo {
    padding-left: 0px;
  }

  .edu {
    max-height: 310px;
    max-width: 540px;
    padding: 180px 20px 180px 20px;
  }

  .externals {
    max-height: 310px;
    max-width: 540px;
    padding: 180px 20px 180px 20px;
  }

  .events {
    max-height: 310px;
    max-width: 540px;
    padding: 180px 20px 180px 20px;
  }

  .hr {
    max-height: 310px;
    max-width: 540px;
    padding: 180px 20px 180px 20px;
  }

  .it {
    max-height: 310px;
    max-width: 540px;
    padding: 180px 20px 180px 20px;
  }

  .marketing {
    max-height: 310px;
    max-width: 540px;
    padding: 180px 20px 180px 20px;
  }

  .desc {
    font-size: 9pt;
    max-height: 190px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 438px) {
  .whatTo {
    padding-left: 30px;
  }

  .edu {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .externals {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .events {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .hr {
    display: flex;
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .it {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .marketing {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .marketing {
    max-height: 235px;
    max-width: 250px;
  }
}

@media only screen and (max-width: 414px) {
  .whatTo {
    padding-left: 20px;
  }

  .edu {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .externals {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .events {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .hr {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .it {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .marketing {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .marketing {
    max-height: 235px;
    max-width: 250px;
  }
}

@media only screen and (max-width: 390px) {
  .whatTo {
    padding-left: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .whatTo {
    padding-left: 7px;
  }

  .edu {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .externals {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .events {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .hr {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .it {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }

  .marketing {
    max-height: 220px;
    max-width: 250px;
    padding: 120px 10px 120px 10px;
  }
}

/*-------------------------------Join us very small screen------------------------------*/
@media only screen and (max-width: 355px) {
  .joinLink {
    display: block;
  }

  .joinUsRight {
    height: 200px;
  }

  .header {
    font-size: 22pt;
  }

  .section {
    font-size: 24pt;
  }

  .googleMap {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .section {
    font-size: 24pt;
  }

  .whatTo {
    padding-left: 0px;
  }

  .edu {
    max-height: 200px;
    max-width: 250px;
    padding: 110px 10px 110px 10px;
  }

  .externals {
    max-height: 200px;
    max-width: 250px;
    padding: 110px 10px 110px 10px;
  }

  .events {
    max-height: 200px;
    max-width: 250px;
    padding: 110px 10px 110px 10px;
  }

  .hr {
    max-height: 200px;
    max-width: 250px;
    padding: 110px 10px 110px 10px;
  }

  .it {
    max-height: 200px;
    max-width: 250px;
    padding: 110px 10px 110px 10px;
  }

  .marketing {
    max-height: 200px;
    max-width: 250px;
    padding: 110px 10px 110px 10px;
  }

  .desc {
    font-size: 9pt;
    max-height: 190px;
    max-width: 400px;
  }
}
