/*-------------------------------Blog posts page header-----------------------------*/
/*Header image*/
.coverPhoto {
    background-image: url('/blog-header.png');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }
  
/*Heading title*/
.title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    letter-spacing: 8px;
    margin-top: 26vw;
    text-transform: uppercase;
    text-align: center;
  }

/*-------------------------------Blog post Preview-----------------------------*/
/*Author circle crop*/
.author-pic {
    border-radius: 50%;
    height: 5.5vw;
    overflow: hidden;
    width: 5.5vw;
    margin: 1vw;
}

/*Author image*/
.vivw_img {
    height: auto;
    transform: translate( -5%, -10%);
    width: 120%;
}

/*Post preview*/
table {
    border: solid;
    border-color: grey;
    border-width: 2px;
    margin: 0 auto;
}

.blog-preview {
    padding: 1.5vw;
}

.blog-details {
    margin-top: 0.5vw;
}

.heading {
    color: #FEB14B;
    letter-spacing: 0.1vw;
    font-size: 16pt;
    font-family: Roboto;
    text-decoration: none;
    margin-bottom: 10px;
}

.heading:hover {
    text-decoration: none;
}

.subheading {
    color: #707070;
    letter-spacing: 0.1vw;
    font-size: 11pt;
    font-family: Roboto;
    font-weight: 300;
}

.blog-link:hover {
    text-decoration: none;
}

