/*------------------------------Contact us header-----------------------------*/
/*Header image*/
.contactHeader {
    background-image: url('/contact-header.png');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

/*Heading title*/
.title_area h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    letter-spacing: 8px;
    margin-top: 26vw;
    text-transform: uppercase;
}

/*Form*/
.form {
    padding-top: 60px;
    text-align: center;
    margin: auto;
    height: 620px;
    max-width: 80%;
}

.inquiry {
    padding-bottom: 50px;
}
/*Form left*/
.formLeft {
    display: inline-block;
    padding: 10px 20px;
    width: 40%;
    height: 100%;
    float:left;
}

.formLeft form {
    float: left;
    text-align: left;
    width: 100%;
}

.formLeft textarea {
    border-style: none;
    border-bottom: solid;
    border-color: #777b7c;
    border-width: 2px;
    color: #313638;
    opacity: 70%;
    width: 100%;
}

input.formInput {
    color: #313638;
    padding: 5px;
    padding-left: 0px;
    opacity: 70%;
    background-color: #ffffff;

    border-style: none;
    border-bottom: solid;
    border-color:#777b7c;
    border-width: 2px;

    border-radius: 0px;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.formLeft form input.button {
    color: #ffffff;
    background-color: #e85f5c;
    text-align: center;
    margin-top: 20px;
    padding: 12px 10px 12px 10px;
    width: 120px;
}

form input.button:hover {
    background-color: #feb14b;
    color: #white;
}

/* This changes the placeholder colour!! for forms. */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #313638;
    opacity: 70%; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #313638;
    opacity: 70%; 
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #313638;
    opacity: 70%; 
}

/*Form image*/
.formRight {
    display: inline-block;
    width: 60%;
    padding: 10px 0px;
    float:right;
    height: 100%;
    overflow: hidden;
}

/*Style for the Emails is below*/
.newEmails {
    height: 1000px;
}

.newEmails div.dot {
    height: 50px;
    width: 50px;
    background-color: #e85f5c;
    margin-bottom: 25px;
}

.newEmails h3 {
    color: #feb14b;
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    font-weight: normal;
    letter-spacing: 2.5px;
}

.newEmails a {
    color: #313638;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    letter-spacing: 1.5px;
    opacity: 70%;
    padding-bottom: 5px;
}

.newEmails a:hover {
    color: #feb14b;
    text-decoration: none;
}

.newEmails div.col2 {
    margin-left: 27%;
    width: 57%;
    height: 450px;
}

.newEmails div.profile2 {
    display: inline-block;
    width: 50%;
    padding: 30px;
    float: none;
    height: 200px;
    overflow: none;
}

.newEmails div.col3 {
    margin-left: 15%;
    width: 80%;
    height: 450px;
}

.newEmails div.profile3 {
    display: inline-block;
    width: 33.3%;
    padding: 30px;
    float: none;
    height: 230px;
    overflow: none;
}
