/*-------------------------------Blog post content-----------------------------*/
.blog-content {
  width: 950px;
  text-align: center;
  margin: auto;
  margin-bottom: 6vw;
}

/*Blog title*/
.blog-title {
  font-family: 'Playfair Display', serif;
  color: #feb14b;
  font-size: 58px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8vw;
  margin-bottom: 4vw;
}

/*Blog content*/
.post {
  margin-bottom: 8vw;
  margin: auto;
}

p {
  color: #707070;
  font-family: 'Roboto';
  font-size: 14pt;
  text-align: justify;
}

.post-content {
  font-weight: 300;
}

.question {
  font-weight: 500;
}

/*-------------------------------Author card-----------------------------*/

.author {
  height: 170px;
  margin: auto;
  max-width: 40%;
  margin-bottom: 6vw;
}

/*Author icon*/
.authorLeft {
  display: inline-block;
  float: left;
  height: 150px;
  width: 25%;
}

.authorLeft div {
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
  width: 100%
}

.vivw_img {
  height: auto;
  transform: translate( -5%, -10%);
  width: 120%;
}

/*Author details*/
.authorRight {
  display: inline-block;
  float: right;
  padding: 0px 0px 0px 30px;
  width: 70%;
  letter-spacing: 2px;
  color: #feb14b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
}

.author-name {
  font-size: 24pt;
}

.position {
  margin-top: 15px;
  font-size: 20pt;
  color: #0F4C81;
}

.authorRight p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: grey;
  font-size: 1vw;
  margin-top: 15px;
}
