/*-------------------------------Home page header-----------------------------*/
/*Header image*/
.contain {
    background-image: url('/header-1.png');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    background-color: #313638;
}

/*Header title*/
div .headline{
    text-align: left;
    position: absolute;
    top: 30%;
    left: 54vw;
}

.headline h1 {
    color: #feb14b;
    font-family: 'Playfair Display', serif;
    font-size: 5.5vw;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*Header subtitle*/
.headline p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.17vw;
    letter-spacing: 2.5px;
}

/*Join us button*/
.btn-join{
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 1.2vw;
    float: right;
    margin-right: 0.5vw;
}

/*-----------------------------Home page description--------------------------*/
/*Description wrapper*/
.description {
    height: 500px;
    margin: auto;
    max-width: 80%;
}

/*Description left block*/
.description-left {
    display: inline-block;
    float: left;
    height:500px;
    padding: 100px 50px 50px 0px;
    width: 50%;
}

/*Left block text*/
.description-left h1 {
    color: #feb14b;
    font-family: 'Montserrat', sans-serif;
    font-size:78px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height:100px;
    padding: 0px, 0px, 50px, 200px;
    text-align: right;   
}

/*Description right block*/
.description-right {
    display: inline-block;
    float: right;
    height:500px;
    line-height:22px;
    padding: 175px 0px 0px 50px;
    width: 50%;
}

/*Right block text*/
.description-right p {
    color: #313638;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    opacity: 70%;
    text-align: justify;    
}

/*---------------------------Home page statistics-----------------------------*/

/*Background image*/
.stats-background {
    width: 100%;
}

.stats{
    position: relative;
}

.number {
    display: inline-grid;
    grid-template-columns: 30% 30% 45%;
    left: 0;
    margin: 0 auto;
    place-items: center;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60%;
    bottom: 25%;
}

.number span {
    color: #feb14b;
    font-family: 'Montserrat', sans-serif;
    font-size: 75pt;
    font-weight: 500;
    letter-spacing: 15px;
}

.number p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
}

/*-------------------------------Home page events-----------------------------*/
/*Events block*/
.events {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100px 110px auto auto;
    padding: 100px 0px;
    max-width: 80%;
    margin: 0 auto;
}

/*Events description grid area*/
.events-description {
    grid-area: 1 / 1 / 3 / 3;
}

/*Events description text*/
.events-description p {
    color: #313638;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    opacity: 70%;
    padding: 20px;
    text-align: right;
}

/*Events title grid area*/
.events-title {
    text-align: left;
    grid-area: 1 / 3 / 2 / 6;
    padding: 20px;
}

/*Big event image grid area*/
.event-1 {
    grid-area: 2 / 3 / 5 / 6;
    padding: 20px;
}

/*Big event image size*/
.event-1 img {
    object-fit: cover;
    width: 100%;
}

/*Small event grid area*/
.event-2 {
    grid-area: 3 / 1 / 5 / 3;
    padding: 20px;
}

/*Small event image size*/
.event-2 img {
    object-fit: cover;
    width: 100%;
}

/*------------------------------Home page sponsors----------------------------*/
/*Sponsors image position*/
.sponsors {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
