/*This is the CSS for the 'brief intro' on the home page */
.unite {
    max-width: 80%;
    text-align: center;
    margin: auto;
}

.uniteLeft {
    display: inline-block;
    width: 50%;
    padding: 50px 50px 50px 0px;
    height:440px;
    float:left;
}
.uniteRight {
    display: inline-block;
    width: 50%;
    height:440px;
    text-align: left;
    padding: 12% 30px 10% 40px;
    float:right;
    line-height:22px;
}
.description {
    color: rgb(165,165,165);
    font-size: 15px;
}
.uniteTitle {
    text-align: right;
    font-size:75px;
    padding: 0px, 0px, 50px, 200px;
    font-family: sans-serif;
    line-height:100px;
    color: rgb(245,178,22);
}
/*END CSS for 'brief intro'   */


/*
  This is the CSS for the 'upcoming events' on the home page
  Disclaimer: it is an experimental work!
*/
.description {
    text-align: right;
    margin: auto;
    font-size: 15px;
}

.eventsTitle {
    text-align: left;
    font-size:60px;
    font-family: sans-serif;
    color: rgb(245,178,22);
}

.picture {
    padding: 30px 30px 30px 30px;
    
}

/*END CSS for 'brief intro'   */

.sponsors {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

#small {
    padding-top: 45px;
}

.contain {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('/header.png');
    background-position: center bottom 40%;
    max-width: 100%;

}

.headline h1 {
    font-family: playfair display;
    font-size: 4.65vw;
    transform: scaleY(1.15);
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 8px;
}

.headline p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 1.3vw;
    letter-spacing: 2px;
}

.row {
    width: 100%;
}
