/*-------------------------------Marketing archive page header-----------------------------*/
/*Header image*/
.marketingCoverPhoto{
    background-image: url('/marketing-header.png');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

/*Heading title*/
.title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    letter-spacing: 8px;
    margin-top: 26vw;
    text-transform: uppercase;
    text-align: center;
  }

/*-------------------------------Size bar and image grid-----------------------------*/
#parent {
    display: flex;
}

#side {
    width: 25vw;
}

#grid {
    flex: 1;
}

/*-------------------------------Left side bar-----------------------------*/
div.sideBar {
  padding: 30px 0;
  box-shadow: 6px -2px 6px -4px #D3D3D3;
  height: 100vw;
}

div.initiatives {
  margin: 0 90px;
}

/*Intiative*/
p.init {
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  text-align: center;
  margin-top: -10px;
  }

/*Year sections*/
p.year {
  font-family: 'Montserrat', sans-serif;
  font-size: 32pt;
  color: #feb14b;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

/*-------------------------------Image grid gallery-----------------------------*/
.gallery {
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 50px;
}

.row a img {
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }
