/*------------------------------Publications header--------------------------------*/
/*Header image*/
.publicationsHeader {
  background-image: url('/publications-header.png');
  /* TODO: change above header image */
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

/*Heading title*/
.title_area h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
  letter-spacing: 8px;
  margin-top: 26vw;
  text-transform: uppercase;
  position: relative;
}

/*CAN REMOVE ONCE OVERLAY FILES ARE ALL MERGED*/
/* direct copy from what will be in style.css from other branch -- ask chelsea */
.overlay {    /* overlay on all header images*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #313638;
  opacity: 0.5;
}

/*-------------------------------Join us socials------------------------------*/
/*Body block*/
.publicationsBody {
    max-width: 65%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.row {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 300px;
}

/*Right side block*/
.article {
    background-image: url('/pub_mini.png');
    background-size: cover;
    display: inline-block;
    width: 29%;
    height: 300px;
    text-align: left;
    margin: 0px 2% 0px 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.article .dark {
  width: 100%;
  height: 100%;
  /*background-color: #313638;  /*website overlay*/
  background-color: black;
  opacity: 0.5;
  position: absolute;
  visibility: hidden;
}

.article:hover h2, .article:hover .dark, .article:hover p, .article:hover .button {
  visibility: visible;
}

.article h2 {
  padding-top: 30%;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 3.3vw;
  display: inline-block;
  visibility: hidden;
  position: relative;
}

.article p {
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  opacity: 70%;
  display: inline-block;
  visibility: hidden;
  position: relative;
}

/*read only button, channge for functionality*/
.button {
  background-color: orange;
  height: 40px;
  width: 100px;
  padding-left: 10%;
  visibility: hidden;
  position: relative;
}

.button h3 {
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
