/*------------------------------Publications header--------------------------------*/
/*Header image*/
.publicationsHeader {
  background-image: url('/publications-header.png');
  /* TODO: change above header image */
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

/*Heading title*/
.title_area h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
  letter-spacing: 8px;
  margin-top: 26vw;
  text-transform: uppercase;
  position: relative;
}

/*CAN REMOVE ONCE OVERLAY FILES ARE ALL MERGED*/
/* direct copy from what will be in style.css from other branch -- ask chelsea */
.overlay {    /* overlay on all header images*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #313638;
  opacity: 0.5;
}

/*-------------------------------Join us socials------------------------------*/
/*Body block*/
.publicationsBody {
    max-width: 65%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.row {
  margin-top: 20px;
  margin-bottom: 50px;
  height: auto;
}

/*Right side block*/
.article {
    display: inline-block;
    width: 230px;
    height: 300px;
    text-align: center;
    margin: 0px 14px 0px 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}

.image_container {
  position: absolute;
  z-index: 0;
}

.article_img  {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.article .dark {
  width: 100%;
  /*background-color: #313638;  /*website overlay*/
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  visibility: hidden;
}

.article:hover h2, .article:hover .dark, .article:hover p, .article:hover .button {
  visibility: visible;
}

.text_container {
  position: absolute;
  left: 50%;
  z-index: 2;
  top: 70px;
}

.article h2 {
  left: -50%;
  text-transform: capitalize;
  text-align: center;

  font-size: 23px;
  display: block;
  visibility: hidden;
  position: relative;


}

.article p {
  font-size: 15px;

  font-weight: bold;
  color: white;
  font-family: 'Montserrat', sans-serif;
  opacity: 70%;
  display: block;
  text-align: center;
  visibility: hidden;
  float: center;
  left: -50%;
  position: relative;
}

/*read only button, channge for functionality*/
.button {
  background-color: orange;
  height: 30px;
  width: 120px;
  visibility: hidden;
  left: -50%;
  position: relative;
}

.button h3 {
  font-size: 9px;
  color: white;
  text-transform: uppercase;
  margin-left: -12px;
  white-space: nowrap;
  float: center;


}
