/*------------------------------Publications header--------------------------------*/
/*Header image*/
.publicationsHeader {
  background-image: url('/publications-header.png');
  /* TODO: change above header image */
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

/*Heading title*/
.title_area h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
  letter-spacing: 8px;
  margin-top: 26vw;
  text-transform: uppercase;
}

/*-------------------------------Join us socials------------------------------*/
/*Body block*/
.publicationsBody {
    max-width: 65%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.row {
  height: 300px;
}

/*Right side block*/
.article {
    background-image: url('/pub_mini.png');
    background-size: cover;
    display: inline-block;
    width: 29%;
    height: 300px;
    text-align: left;
    margin: 0px 2% 0px 2%;
    padding-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center
    /*border-width: 3px;
    border-style: solid;
    border-color: lightgrey;*/
}

.article h2 {
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 3.3vw;
  display: inline-block;
}

.article p {
  font-size: 20px;
  color: #313638;
  font-family: 'Montserrat', sans-serif;
  opacity: 70%;
  display: inline-block;

}

/*read only button, channge for functionality*/
.button {
  background-color: orange;
  height: 40px;
  width: 100px;
  padding-left: 10%;
}

.button h3 {
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
