/* this is used to add style to sponsors page and header */

.sponsorHeader {  /* the 'box''*/
  position: relative;
  display: inline-block;
}

.sponsorHeader h1 { /*the text inside the box*/
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 45%; /* Adjust this value to move the positioned div up and down */

  font-size:62px;
  font-family: playfair display;
  transform: scaleY(1.15);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 8px;
  width: 60%; /* Set the width of the positioned div */
}

p.subheader {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  color: #313638;
  opacity: 70%;
  padding: 75px 400px;
  letter-spacing: 2px;
}

h1.subsponsor {
  font-size: 38pt;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 35px 0px;
}

.subheading {
  margin-bottom: 4vw;
  font-family: Roboto;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(245,178,22);
}

.majorContainer a img {
  margin-bottom: 4vw;
  padding-left: 10px;
  padding-right: 10px;
}

.notLast {
  margin-right: 5vw;
}

a.subheader {
  font-family: 'Montserrat', sans-serif;
}

.subheader a:hover {
  color: #feb14b;
  text-decoration: none;
}