@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;*/

h1 {
    color: #feb14b;
    font-family: 'Playfair Display', serif;
    font-size: 48pt;
}

h2 {
    color: #feb14b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}

.header{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: grey;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    margin-top: 0;
}

.body_bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.centre {
    text-align: center;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color:#e85f5c;
    border-radius: 60px;
    border-style: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #feb14b;
    color: #ffffff;
}

/*-----------------------------------Navbar-----------------------------------*/
.bg-custom{
    background: #fff7ef;
    font-size: 10pt;
    padding: 0px;
}

.nav{
    height: 70px;
}

.navbar-nav{
    color: #313638;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    float: right;
}

.nav-item{
    float:right;
    color: #313638;
    padding: 20px 5px;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.nav-item a{
    color: #313638;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown-menu{
    border-color: transparent;
    letter-spacing: 1.5px;
    font-size: 14px;
    background-color: #fff7ef;
    margin-top: 15px;
    border-radius: 0px;
}

.dropdown-item {
    padding: 5px 0px;
}

.dropdown-item:hover {
    background-color: #fff7ef;
}

.menuTitle{
    color: #313638; 
    padding: 10px 15px;
}

.menuTitle:hover{
    color: #e85f5c;
}

.nav-item a:hover{
    color: #e85f5c;
    padding: 10px 15px;
    text-decoration: none;
}
/*----------------------------------Footer------------------------------------*/
footer {
    margin: 0;
    padding: 0;
    background-color: #fff7ef;
}

.footer-top {
    margin: 0 auto;
}

.footer-links {
    list-style-type: none;
    margin: 20px auto;
    align-self: center;
    padding: 6vw 0 3vw 0;
    width: 75%;
}

.footer-item {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    color: #313638;
    text-transform: uppercase;
}

.footer-group-short {
    margin-right: 0px;
}

.footer-group-long {
    margin-right: 90px;
    width: 100%;
}

.row .col .footer-logo {
    margin-top: 5%;    
}
.socials .footer-item {
    display: inline;
    padding: 7px;
}

.footer-copyright {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    padding-bottom: 16px;
}

.socials-subheading {
    padding-bottom: 10px;
}

.footer-copyright, a {
    color: #313638;
}

.footer-item a:hover {
    color: #feb14b;
    text-decoration: none;
}
