@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;*/

/*----------------------------------Header------------------------------------*/

/*-------------------------------Header Image----------------------------*/

.cover_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.coverPhoto .dark {
  width: 100%;
  /*background-color: #313638;  /*website overlay*/
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
}

.coverPhoto .title {
  position: absolute;
  left: 50%;
  z-index: 2;
  top: 0px;
}

.coverPhoto .title h1 {
  left: -50%;
  text-align: center;
  position: relative;

}




/*----------------------------------General------------------------------------*/
h1 {
    color: #feb14b;
    font-family: 'Playfair Display', serif;
    font-size: 48pt;
}

h2 {
    color: #feb14b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}

.header{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: grey;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    margin-top: 0;
}

.body_bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.centre {
    text-align: center;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color:#e85f5c;
    border-radius: 60px;
    border-style: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #feb14b;
    color: #ffffff;
}

/*-----------------------------------Navbar-----------------------------------*/
.bg-custom{
    background: #fff7ef;
    font-size: 10pt;
    padding: 0px;
}

.nav{
    height: 70px;
}

.navbar-nav{
    color: #313638;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
}

.nav-item{
    float:right;
    color: #313638;
    padding: 20px 5px;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.nav-item-btn {
    color: #313638;
    padding-top: 22px;
    padding-right: 10px;
    display: none;
}

.nav-item a{
    color: #313638;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown-menu{
    border-color: transparent;
    letter-spacing: 1.5px;
    font-size: 14px;
    background-color: #fff7ef;
    margin-top: 15px;
    border-radius: 0px;
}

.dropdown-item {
    padding: 5px 0px;
}

.dropdown-item:hover {
    background-color: #fff7ef;
}

.menuTitle{
    color: #313638;
    padding: 10px 15px;
}

.menuTitle:hover{
    color: #e85f5c;
}

.nav-item a:hover{
    color: #e85f5c;
    padding: 10px 15px;
    text-decoration: none;
}


@media screen and (max-width: 1000px) {
    .nav-item {
        display: none;
    }

    .nav-item-btn {
        display: block;
    }
}

/*-----------------------------------Menu-----------------------------------*/

.menu-container {
    position: fixed;
    width: 100%;
    background: #fff7ef;
    opacity: 1;
    color: #313638;
    z-index: 1;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.menu-item {
    color: #313638;
    padding: 5px 35px;
    text-decoration: none;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 2vw;
}

.menu-box:hover {
    width: 92%;
    background-color: #fff0e1c1;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.menu-box:hover .menu-item {
    color: #e85f5c;
}

.menu-bar {
    float: none;
}

.menu-list {
    padding-top: 4rem;
}

.menu-dropdown {
    padding: 5px 0px;
}

/*----------------------------------Footer------------------------------------*/
footer {
    margin: 0px;
    padding: 0px;
    background-color: #fff7ef;
    min-width: 100%;
}

.footer-all {
    list-style-type: none;
    margin: 1.4vw auto;
    padding: 4vw 0vw 2vw 0vw;
}

.footer-item {
    font-family: 'Montserrat', sans-serif;
    padding: 0.33vw;
    color: #313638;
    text-transform: uppercase;
    font-size: 1.05vw;
}

.bottom-footer-item {
    font-family: 'Montserrat', sans-serif;
    padding: 0.3vw;
    color: #313638;
    text-transform: uppercase;
}

.footer-logo {
    margin-top: 1%;
}

.footer-icons {
    padding-right:1vw;
}

.col-width {
    flex-basis: 40%;
}

.socials {
    margin-left: 8%;
}

.footer-copyright {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    padding-bottom: 1vw;
    font-size: 1.05vw;
}

.footer-copyright, a {
    color: #313638;
}

.footer-item a:hover {
    color: #feb14b;
    text-decoration: none;
}

.bottom-footer-item a:hover {
    color: #feb14b;
    text-decoration: none;
}

.grid-footer-container {
    display: flex;
    width: 70%;
    margin: 0px auto;
}

@media screen and (max-width: 600px) {
    .grid-footer-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-item {
        text-align: center;
        font-size: 1.8vw;
    }

    .footer-copyright {
        font-size: 1.5vw;
    }

    .footer-logo {
        margin-bottom: 2%;
    }

    .socials {
        margin-left: 0%;
        margin-top: 1%;
    }

    .footer-all {
        margin: 1.5vw auto 1vw auto;
    }

}
