/* this needs to be consistent with other pages */
.banner {
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain; 
  align-content: center;
  position: relative;
  top: 50%;     
  left: 50%;
  transform: translate( -50%, -55%);
}

.crop {
  position: relative;
  height: 700px;
  max-width: 100%;
  overflow: hidden;
}

/* same as img */
.profile_img {
  background-size: cover;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  transform: translate( -15%, 0);
}

/* same as img */
.profile_img_subcommittee_version {
  background-size: cover;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  transform: translate( -15%, 0);
}

.gab_img {
  transform: translate( 0%, 0);
}

.vivw_img {
  height: auto;
  width: 120%;
  transform: translate( -5%, -10%);
}

.alison_img {
  transform: translate( -17%, 0);
}

.fel_img {
  transform: translate( -12%, 0);
}

.eli_img {
  transform: translate( -7%, 0%);
}

.title_area {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title_area h1 {
  font-family: playfair display;
  font-size: 4vw;
  transform: scaleY(1.15);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 8px;
  margin-top: 26vw;
}

.profile_section_heading p {
  font-family: Roboto;
  font-weight: bold;
  font-size: 2vw;
  letter-spacing: 2px;
  color: rgb(245,178,22);
}

.all_execs_section {
  align-content: center;
  justify-content: center;
}

.exec_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.exec_col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.section_subcommittee {
  align-content: center;
  justify-content: center;
} 

 /* the parent -> same as .square */
.profile {
  /* Space between when resizing */
  position: relative;
  padding: 20px; 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.profile_crop {
  position: relative;
  width: 16vw;  
  height: 16vw;
  max-width: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.profile_details {
  margin: 25px 0px 70px 0px;
  text-align: center;
  align-content: center;
  line-height: 13pt;
  justify-content: space-evenly;
}

.profile_subcommittee {
   position: relative;
   padding: 20px; 
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

.icon_bar {
  width: 90px;
}

.icon_bar a {
  float: left;
  width: 20%;
  padding: 12px 0;
}

.icon {
  width: 25px;
  height: 25px;
  border: 0;
  margin-right: 10px;
}

/* CSS for the different word styles in the profile description */

.subheader {
  font-family: Arial;
  font-size: 13pt;
  color: grey;
  font-weight: bold;
}

.profile_text_name {
  position: relative;
  align-content: center;
  font-family: Arial;
  font-size: 20pt;
  color: orange;
  letter-spacing: 0.1vw;
}

.profile_text_position {
  position: relative;
  align-content: center;
  font-family: Arial;
  font-size: 13pt;
  color: rgb(26, 75, 131);
  font-weight: lighter;
  letter-spacing: 0.1vw;
}

.profile_degree {
  position: relative;
  font-family: Arial;
  font-size: 10pt;
  color:lightslategray;
  word-wrap: break-word;
  white-space: initial;
  font-weight: lighter;
  letter-spacing: 0.1vw;
}



p {
  font-family: Arial;
  font-size: 7pt;
  margin-top: 0;
  color: orange;
}

table { 
  border-collapse: separate;
  margin: 5pt;
  justify-content: center;
}

.crop {
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('/team-header.png');
  background-position: center bottom 40%;
  max-width: 100%;
}