@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display&display=swap");

/*Web colours*/
:root {
  --white: #fff;
  --yellow: #feb14b; /* Headings and Highlighted text */
  --light-yellow: #fff7ef; /* Navigation */
  --sand:  #fff0e1c1; /* Selected navigation */
  --black: #313638; /* General text */
  --grey: #676767; /* Subheadings */
  --light-grey: #c4c4c4; /* disabled arrows */
  --section: #F4F4F4;
  --red: #e85f5c; /* Buttons and unvisited links */
  --dark-red: #bd3f3d; /* visited links */
  --dark-grey: #202124; /* dark mode card */
  --dark-slate-grey: #3b3b41; /* dark mode lighter grey card */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*----------------------------------Dark mode----------------------------------*/
body {
  color: #222;
}

/*Changes background*/
@media (prefers-color-scheme: dark) {
  body {
    background:var(--dark-grey);
  }

  /* Change colour of podcast search bar placeholder text to white on dark mode */
  ::placeholder {
    color: white;
  }

  :-ms-input-placeholder {
    color: white; 
  }

  ::ms-input-placeholder {
    color: white; 
  }
}

/*----------------------------------General------------------------------------*/
h1 {
  color: var(--yellow);
  font-family: "Playfair Display", serif;
  font-size: 48pt;
}

h2 {
  color:var(--yellow);
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  margin-top: 0;
}

/*----------------------------------Header------------------------------------*/
/*Heading title*/
.headerTitle h1 {
  font-family: "Playfair Display", serif;
  font-size: 5vw;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
}

.coverPhoto {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.cover_image {
  height: 100%;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

/*website overlay*/
.coverPhoto .dark {
  width: 100%;
  background-color: #313638;
  opacity: 0.6;
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 1;
}

.coverPhoto .headerTitle {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coverPhoto .headerTitle h1 {
  margin: 0px;
  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  .coverPhoto,
  .coverPhoto .dark,
  .coverPhoto .headerTitle,
  .cover_image {
    height: 40vh;
  }

  .coverPhoto .headerTitle h1 {
    font-size: 3.5vh;
  }

  .coverPhoto .headerTitle {
    top: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .coverPhoto .headerTitle h1 {
    font-size: 3vh;
  }
}

@media only screen and (max-width: 340px) {
  .coverPhoto .headerTitle h1 {
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 318px) {
  .coverPhoto {
    position: relative;
  }
}

/*----------------------------------Loading Screen------------------------------------*/
#loadingBackground {
  background: var(--light-yellow);
  height: 100vh;
  z-index: 100;
  position: absolute;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loadingWillow {
  height: 300px;
  width: 300px;
}

#loadingBackground p {
  overflow: hidden;
  font-size: 18pt;
  animation: typing 2.5s steps(34, end);
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@media (prefers-color-scheme: dark) {
  #loadingBackground {
    background: #323235;
  }

  #loadingBackground p {
    color: #fff; 
  }
}

@media screen and (max-width: 320px) {
  #loadingBackground {
    height: 100%;
    position: fixed;
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  #loadingWillow {
    height: 280px;
    width: 280px;
  }
}

/*-----------------------------------Menu-----------------------------------*/

.menu-container {
  position: fixed;
  width: 100%;
  background: var(--light-yellow);
  opacity: 1;
  color: #313638;
  z-index: 3;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.menu-link {
  text-decoration: none;
}

.menu-item {
  color: #313638;
  padding: 5px 35px;
  text-decoration: none;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
}

.menu-box:hover {
  width: 92%;
  background-color: var(--sand);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.menu-box:hover .menu-item {
  color: var(--red);
}

.menu-bar {
  float: none;
}

.menu-list {
  padding-top: 4rem;
}

.menu-dropdown {
  padding: 5px 0px;
}

/* Dark mode and responsive menu dropdown*/
@media screen and (max-width: 950px) and (prefers-color-scheme: dark) {
  .menu-container {
    background: #000000;
    color: #fff;
  }

  .menu-item {
    color: #fff;
  }
  
  .menu-box:hover {
    background-color: var(--dark-grey);
  }
  
  .menu-box:hover .menu-item {
    color: var(--red);
  }
}

/*-------------------------------Newsletter sign up form-----------------------------*/
.signUpForm span {
  color: #e85f5c;
  font-family: "Montserrat", sans-serif;
}

form input {
  margin: 15px auto;
  display: block;
  font-size: 1.2vw;
  width: 100%;

  border-style: none;
  border-bottom: solid;
  border-color: var(--general-text);
  border-width: 3px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  width: 50%;
}

form button {
  background-color: #e85f5c;
  color: #ffffff;
  font-size: 1.3vw;
  width: 100%;
  margin: 20px auto;
  border: none;
  display: block;
  padding: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 50%;
}

.msg-alert p {
  font-size: 1.3vw;
}

/*--- Dark mode ---*/
@media (prefers-color-scheme:dark) {
  form input {
    background-color: #323235;
    border-color: white;
    color: white;
  }
  
  form button {
    background-color: var(--red);
    color: white;
  }
}

/*-------------------------------Newsletter Form Mobile Design-----------------------------*/
@media only screen and (max-width: 1000px) {
  .button form button {
    font-size: 12pt;
    width: 75%;
  }

  .newsletter form input {
    width: 75%;
  }

  .newsletter form input,
  .msg-alert p {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 600px) {
  .newsletter form input,
  .msg-alert p {
    font-size: 11pt;
  }

  .newsletter form input,
  .button form button {
    width: 80%;
  }
}

/*----------------------------------Footer------------------------------------*/
/* WIT logo */
.photo {
  width: 40px;
}

footer {
  margin: 0px;
  padding: 0px;
  background-color: var(--light-yellow);
  min-width: 100%;
}

.footer-all {
  list-style-type: none;
  margin: 0 auto 1.4vw auto;
  padding: 4vw 0vw 2vw 0vw;
}

.footer-item {
  font-family: "Montserrat", sans-serif;
  padding: 0.5vw;
  color: var(--black);
  font-size: 1.05vw;
}

.footer-header {
  font-weight: 750;
  padding-bottom: 1vw;
}

.bottom-footer-item {
  font-family: "Montserrat", sans-serif;
  padding: 0.3vw;
  color: var(--black);
  text-transform: uppercase;
}

.footer-logo {
  margin-top: 1%;
  padding-left: 5%;
}

.socials .footer-icons {
  padding: 0px 0.5vw;
}

.square-link {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.75rem;
  padding: 0px;
}

/*Social Tooltip Styles*/
.tooltipTitle {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
}

.col-width {
  flex-basis: 40%;
}

.socials .footer-item {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-copyright {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  padding-bottom: 1vw;
  font-size: 1.05vw;
}

.footer-copyright a {
  color: #313638;
  transition: 0.2s;
  text-align: center;
}

.footer-item a {
  transition: 0.2s;
}

.footer-item a:hover {
  color: var(--red);
  text-decoration: none;
}

.bottom-footer-item a:hover {
  color: var(--red);
  text-decoration: none;
}

.grid-footer-container {
  display: flex;
  width: 90%;
  margin: 0px auto;
}

/*---Dark mode version of footer---*/
@media (prefers-color-scheme: dark) {
  footer {
    color: var(--white);
    background: black;
  }

  .bottom-footer-item {
    color: var(--white);
  }

  .footer-item {
    color: var(--white);
  }

  .footer-copyright
  a {
    color: var(--white);
  }
}

@media screen and (max-width: 900px) {
  .square-link {
    width: 100%;
    grid-gap: 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  .grid-footer-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-item {
    text-align: center;
    font-size: 16px;
  }

  .footer-copyright {
    font-size: 16px;
    padding-bottom: 5vw;
  }

  .footer-white-logo {
    margin-bottom: 2%; 
  }
  
  .footer-black-logo {
    margin-bottom: 2%;
  }

  .footer-icons {
    display: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .socials {
    margin-left: 0%;
    margin-top: 0%;
  }

  .footer-all {
    margin: 0vw auto 1vw auto;
  }

  .footer-item {
    padding-bottom: 2vw;
  }
  
  .bottom-footer-item {
    padding-bottom: 5vw;
  }

  .footer-header {
    margin-top: 7.5%;
  }

  .square-link {
    display: inline-block;
  }

  .footer-icons-img {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 500px) {
  .footer-icons {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }  
}

@media screen and (max-width: 355px) {
  .footer-icons {
    margin-left: 1vw;
    margin-right: 1vw;
  }  
}


/*-------------------------------Newsletter sign up form-----------------------------*/
.signUpForm span {
  color: #e85f5c;
  font-family: "Montserrat", sans-serif;
}

form input {
  margin: 15px auto;
  display: block;
  font-size: 1.2vw;
  width: 100%;

  border-style: none;
  border-bottom: solid;
  border-color: var(--general-text);
  border-width: 3px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  width: 50%;
}

form button {
  background-color: #e85f5c;
  color: #ffffff;
  font-size: 1.3vw;
  width: 100%;
  margin: 20px auto;
  border: none;
  display: block;
  padding: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 50%;
}

.msg-alert p {
  font-size: 1.3vw;
}

/*--- Dark mode ---*/
@media (prefers-color-scheme:dark) {
  form input {
    background-color: #323235;
    border-color: white;
    color: white;
  }
  
  form button {
    background-color: var(--red);
    color: white;
  }
}

/*-------------------------------Newsletter Form Mobile Design-----------------------------*/
@media only screen and (max-width: 1000px) {
  .button form button {
    font-size: 12pt;
    width: 75%;
  }

  .newsletter form input {
    width: 75%;
  }

  .newsletter form input,
  .msg-alert p {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 600px) {
  .newsletter form input,
  .msg-alert p {
    font-size: 11pt;
  }

  .newsletter form input,
  .button form button {
    width: 80%;
  }
}