/*-------------------------------Navigation Bar-------------------------------*/
.navBarContainer {
  position: fixed;
  top: 0;
  height: 6.5%;
  width: 100%;
  background-color: var(--light-yellow);
  opacity: 1;
  z-index: 99;
  transition: background-color 0.2s, opacity 0.2s;
}

.clearNavBar {
  color: var(--white);
  background-color: transparent !important;
}

.hiddenNavBar {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.navBarGrid {
  display: grid;
  grid-template: 'logo empty home aboutUs sponsors jobsBoard events media joinUs contactUs';
  align-items: center;
  height: 100%;
}

.logoGridItem {
  grid-area: logo;
}

.emptyGridItem {
  grid-area: empty;
}

.homeGridItem {
  grid-area: home;
}

.aboutUsGridItem {
  grid-area: aboutUs;
}

.sponsorsGridItem {
  grid-area: sponsors;
}

.eventsGridItem {
  grid-area: events;
}

.jobsBoardGridItem {
  grid-area: jobsBoard;
}

.mediaGridItem {
  grid-area: media;
}

.joinUsGridItem {
  grid-area: joinUs;
}

.contactUsGridItem {
  grid-area: contactUs;
}

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 3%;
  padding-left: 12%;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 90%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.linkContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: color 0.3s;
}

.linkContent:hover {
  color: var(--red);
  cursor: pointer;
}

.linkContent:hover .linkUnderline {
  opacity: 1;
  width: 100%;
}

.linkUnderline {
  position: absolute;
  height: 90%;
  width: 0%;
  opacity: 0;
  border-bottom: 0.15vw solid var(--red);
  transition: width 0.25s, opacity 0.25s;
}

.currentPageUnderline {
  width: 100%;
  opacity: 1;
}

.dropdownContainer {
  display: block;
}

.dropdownContainer:hover .linkContent {
  color: var(--red) !important;
}

.dropdownContainer:hover .linkUnderline {
  width: 100%;
  opacity: 1;
}

.dropdownContainer:hover .dropdownContent {
  visibility: visible;
  opacity: 1;
}

.dropdownContainer:hover .clearDropdownContent {
  visibility: visible;
  opacity: 1;
}

.dropdownContent {
  position: absolute;
  visibility: hidden;
  width: 15%;
  background-color: var(--light-yellow);
  opacity: 0;
  border-radius: 0px 0px 15px 15px;
  transition: background-color 0.2s, border-radius 0.2s, opacity 0.2s,
    visibility 0.2s;
}

.clearDropdownContent {
  background-color: transparent !important;
  border: 0.15vw solid var(--white);
  border-top-right-radius: 15px;
}

.dropdownItem {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5% 15% 0% 15%; /* no bottom padding */
  transition: color 0.3s, opacity 0.2s, visibility 0.2s;
}

.dropdownItem:hover {
  color: var(--red);
  cursor: pointer;
}

.dropdownItem:hover a {
  color: var(--red);
  transition: color 0.3s, opacity 0.2s, visibility 0.2s;
}

.dropdownItemEnd {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5% 15% 8% 15%;
  transition: color 0.3s, opacity 0.2s, visibility 0.2s;
}

.dropdownItemEnd:hover {
  color: var(--red);
  cursor: pointer;
}

.dropdownItemEnd:hover a {
  color: var(--red);
  transition: color 0.3s, opacity 0.2s, visibility 0.2s;
}

.currentPageBold {
  font-weight: bold;
}

.icon {
  margin-left: -10px;
  margin-right: 10px;
  transform: scale(0.9);
}

/*------------------------------Compact Navbar--------------------------------*/
.compactNavBarGrid {
  display: grid;
  grid-template: 'logo empty empty empty empty empty menuIcon';
  align-items: center;
  height: 99%;
}

.menuIconGridItem {
  grid-area: menuIcon;
}

.menuButton {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: color 0.3s;

  background-color: inherit;
  border: none;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  padding: none;
}

.menuButton:hover {
  cursor: pointer;
}

.menuIcon {
  margin-left: -10px;
  margin-right: 10px;
  transform: scale(1.5);
}

.menuContainer {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: opacity 0.2s;
}

.hiddenMenu {
  visibility: hidden;
  opacity: 0;
}

.menuContent {
  position: absolute;
  width: 100%;
  background-color: var(--light-yellow);
  border-radius: 0px 0px 15px 15px;
  transition: background-color 0.2s, border-radius 0.2s, visibility 0.2s;
}

.clearMenuContent {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 0.15vw solid var(--white);
  border-radius: 15px 15px 15px 15px;
}

.menuItemContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.menuItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  transition: color 0.3s, opacity 0.2s, visibility 0.2s;
}

.menuItem:hover {
  color: var(--red);
  cursor: pointer;
}

.menuItemEnd {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: color 0.3s, opacity 0.2s, visibility 0.2s;
}

.menuItemEnd:hover {
  color: var(--red);
  cursor: pointer;
}

.currentPageMenuUnderline {
  height: 100%;
  width: 30%;
  opacity: 1;
  border-bottom: 0.15vw solid var(--red);
}

.menuDropdownContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.menuDropdownContainer:hover {
  color: var(--red);
  cursor: pointer;
}

.currentDropdown {
  color: var(--red) !important;
}

.menuDropdownContent {
  display: block;
}

.hiddenMenuDropdownContent {
  display: none;
}

.currentPageMenuBold {
  font-weight: bold;
}

/*--- Dark mode ---*/
@media (prefers-color-scheme: dark) {
  .navBarContainer {
    background-color: #000;
  }
  .linkContainer {
    color: var(--white);
  }
  .dropdownContent {
    background-color: #000;
  }
  .dropdownItem {
    color: var(--white);
  }
  .dropdownItemEnd {
    color: var(--white);
  }
  .menuButton {
    color: var(--white);
  }
  .menuContent {
    background-color: #000;
  }
  .menuItem {
    color: var(--white);
  }
  .menuItemEnd {
    color: var(--white);
  }
}

@media only screen and (max-width: 1280px) {
  .dropdownContent {
    width: 17%;
  }
}

@media only screen and (max-width: 1100px) {
  .dropdownContent {
    width: 19%;
  }
}

@media only screen and (max-width: 1000px) {
  .dropdownContent {
    width: 21%;
  }
}

@media only screen and (max-height: 650px) {
  .navBarContainer {
    height: 8%;
  }
}

@media only screen and (max-height: 550px) {
  .navBarContainer {
    height: 10%;
  }
}

@media only screen and (max-height: 420px) {
  .navBarContainer {
    height: 15%;
  }
}

@media only screen and (max-height: 300px) {
  .navBarContainer {
    height: 18%;
  }
}
