/*NavigationBar*/
.navigationBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.5%;
  background-color: var(--light-yellow);
  z-index: 99;
  transition: background-color 0.2s, opacity 0.2s;
  opacity: 1;
}

.clearNavigationBar {
  background-color: transparent;
  color: var(--white);
}

.invisNavigationBar {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.navContainer {
  align-items: center;
  height: 100%;
  display: grid;
  grid-template:
    'logo empty empty empty empty home aboutUs events opportunities media joinUs';
}

.logoContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 12%;
  padding-top: 3%;
}

.linkItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 100%;
  width: 90%;
}

.gridBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: color 0.3s;
}

.gridBox:hover {
  cursor: pointer;
  color: var(--red);
}

.gridBox:hover .gridOverlay {
  opacity: 1;
  width: 100%;
}

.gridOverlay {
  width: 0%;
  height: 90%;
  border-bottom: 0.15vw solid var(--red);
  opacity: 0;
  position: absolute;
  transition: width 0.25s, opacity 0.25s;
}

.emptyItem {
  grid-area: empty;
}

.item0 {
  grid-area: logo;
}

.item1 {
  grid-area: home;
}

.item2 {
  grid-area: aboutUs;
}

.item3 {
  grid-area: events;
}

.item4 {
  grid-area: opportunities;
}

.item5 {
  grid-area: media;
}

.item6 {
  grid-area: joinUs;
}

.dropdown {
  display: block;
}

.dropdown:hover .dropdownContent {
  visibility: visible;
  opacity: 1;
}

.dropdown:hover .gridOverlay {
  opacity: 1;
  width: 100%;
}

.dropdown:hover .gridBox {
  color: var(--red);
}

.dropdownContent {
  width: 15%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--light-yellow);
  border-radius: 0px 0px 15px 15px;
  transition: background-color 0.2s, border-radius 0.2s, opacity 0.2s;
}

.clearDropdownContent {
  border-top-right-radius: 15px;
  background-color: transparent;
  border: 0.15vw solid var(--white);
}

.dropdown:hover .clearDropdownContent {
  visibility: visible;
  opacity: 1;
}

.dropdownBox {
  padding: 5% 15% 0% 15%; /* no bottoms padding */
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  transition: color 0.3s;
}

.dropdownBoxEnd {
  padding: 5% 15% 8% 15%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  transition: color 0.3s;
}

.dropdownBox:hover {
  cursor: pointer;
  color: var(--red);
}

.dropdownBoxEnd:hover {
  cursor: pointer;
  color: var(--red);
}
