/*-------------------------------Newsletter-----------------------------*/
/*Background image*/
.background {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

#container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletterBgContainer {
  height: 300px;
  width: 100%;
  position: relative;
}

.subscribeBtn {
  position: absolute;
  right: 20%;
  text-align: center;
  width: 60%;
  bottom: 37%;
  color: #ffffff;
  background-color: #e85f5c;
  padding: 12px 10px;
  border: none;
  font-size: 2vw;
  text-transform: uppercase;
  border: none;
  letter-spacing: 3px;
  transition: 0.3s;
}

.subscribeBtn:hover {
  background-color: #bd3f3d;
}

.signUpForm span {
  color: #e85f5c;
  font-family: "Montserrat", sans-serif;
}

.signUpForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------------------------Newsletter section Mobile Design-----------------------------*/
@media only screen and (max-width: 1200px) {
  .subscribeBtn {
    font-size: 20pt;
    width: 70%;
    right: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .subscribeBtn {
    font-size: 16pt;
    width: 70%;
    right: 15%;
    bottom: 38%;
  }
}

@media only screen and (max-width: 400px) {
  .subscribeBtn {
    font-size: 14pt;
    width: 80%;
    right: 10%;
  }
}