/*hi--- Timeline card ---*/
.timelineCard:hover {
  transform: scale(1.01);
}

.timelineCard {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  background-color: var(--sand);
  box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

.timelineCardImageContainer {
  height: 400px;
}

.timelineCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.timelineCardText {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  width: 100%;
  min-height: 250px;
  padding-right: 15px;
  padding-bottom: 2rem;
}

.witJourneyText {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12pt !important;
  text-align: center;
  margin-top: 6% !important;
}

/*--- Loading ---*/
.loadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#timelineStyle {
  margin: 3%;
}

#timelineLoading {
  color: var(--yellow);
  margin-top: 5%;
  margin-bottom: 3%;
}

/*--- Our Story dark mode ---*/
@media (prefers-color-scheme: dark) {
  .timelineCard {
    background-color: var(--dark-slate-grey);
    box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .timelineCardText {
    color: var(--white);
    background-color: var(--dark-slate-grey);
  }
}

/*--- Our Story big tablet version ---*/
@media only screen and (max-width: 1200px) {
  .witJourneyText {
    font-size: 11pt;
  }

 
}

/*--- Our Story tablet version ---*/
@media only screen and (max-width: 1000px) {
  .timelineCard {
    width: 50%;
  }
}

/*--- Our Story mobile version ---*/
@media only screen and (max-width: 540px) {
  .witJourneyText {
    font-size: 10pt;
  }
}
  

@media only screen and (max-width: 500px) {
  .timelineCardImageContainer {
    height: 300px;
  }
}

@media only screen and (max-width: 414px) {
  .timelineCardImageContainer {
    height: 250px;
  }
}
