/*--- Timeline card ---*/
.timelineCard:hover {
  transform: scale(1.01);
}

.timelineCard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--sand);
  box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  width: 370px;
  object-fit: cover;
}

.timelineCardImageContainer {
  height: 400px;
  width: 370px;
}

.timelineCardImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.timelineCardText {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  min-height: 250px;
  padding-right: 15px;
  padding-bottom: 2rem;
}

.witJourneyText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12pt !important;
  text-align: center;
  margin-top: 6% !important;
}

/*--- Loading ---*/
.loadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#timelineStyle {
  margin: 3%;
}

#timelineLoading {
  color: var(--yellow);
  margin-top: 5%;
  margin-bottom: 3%;
}

/*--- Our Story dark mode ---*/
@media (prefers-color-scheme: dark) {
  .timelineCard {
    background-color: var(--dark-slate-grey);
    box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .timelineCardText {
    color: var(--white);
    background-color: var(--dark-slate-grey);
  }
}

/*--- Our Story big tablet version ---*/
@media only screen and (max-width: 1200px) {
  .witJourneyText {
    font-size: 11pt;
  }
}

/*--- Our Story tablet version ---*/
@media only screen and (max-width: 1000px) {
  .timelineCard {
    width: 45%;
  }

  .timelineCardImageContainer {
    height: 325px;
    width: 307px;
  }
}

@media only screen and (max-width: 912px) {
  .timelineCard {
    width: 40%;
  }

  .timelineCardImageContainer {
    height: 400px;
    width: 500px;
  }
}

@media only screen and (max-width: 820px) {
  .timelineCardImageContainer {
    height: 350px;
    width: 330px;
  }
}

@media only screen and (max-width: 800px) {
  .timelineCardImageContainer {
    height: 330px;
    width: 310px;
  }
}

/*--- Our Story mobile version ---*/
@media only screen and (max-width: 540px) {
  .witJourneyText {
    font-size: 10pt;
  }

  .timelineCardImageContainer {
    height: 230px;
    width: 217px;
  }
}

@media only screen and (max-width: 500px) {
  .timelineCardImageContainer {
    height: 300px;
    width: 200px;
  }
}

@media only screen and (max-width: 414px) {
  .timelineCardImageContainer {
    height: 180px;
    width: 167px;
  }
}

@media only screen and (max-width: 390px) {
  .timelineCardImageContainer {
    height: 167px;
    width: 157px;
  }
}

@media only screen and (max-width: 375px) {
  .timelineCardImageContainer {
    height: 157px;
    width: 150px;
  }
}

@media only screen and (max-width: 360px) {
  .timelineCardImageContainer {
    height: 147px;
    width: 137px;
  }
}
