.sponsors {
  display: flex;
  width: 100%;
  justify-content: center;
}

.collageContainer {
  margin-top: 3%;
  display: flex;
  width: 85%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.rowContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.logoContainer {
  height: 100%;
  overflow: hidden;
}

.logo {
  object-fit: contain;
  /* padding: 30px; */
}
