.margin {
  margin: 50px 200px 200px 200px;
}

.podcast-intro {
  height: 400px;

}

.podcast-logo {
  width: 38%;
  display: inline-block;
  float: left;
}

.podcast-intro .intro {
  width: 54%;
  display: inline-block;
  float: right;
  text-align: left;
}

.podcast-intro .intro h2 {
  margin-top: 80px;
  font-size: 70px;
  font-weight: 400;
}

.comments {
  border-bottom-width: medium;
  border-bottom-color: darkgrey;
  border-bottom-style: solid;
}

.icons {

}

.icons img {
  height: 40px;
  margin: 10px;
}







/* -- Podcast Panel Component -- */
.panel {
  width: 300px;
  display: inline-block;
  overflow: hidden;

  text-align: center;
  margin: 0px 14px 0px 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 30px;
}

.panel_text {
  padding: 15px;
}

.panel_img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
