.profile_img {
  width: 360px;
  height: auto;
  max-width: 100%;
  display: block;
  overflow: hidden;
  border: 0.5px solid lightgray;
  margin: 15px;
  background-size: cover;
  position: relative;
  width: 360px;     
  height: 270px;
  overflow: hidden;
}

.profile_img_subcommittee_version {
  width: 360px;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  float: none;
  background-size: cover;
}


img.profile {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;     
  left: 50%;
  transform: translate( -50%, -50%);
}

img.section_subcommittee{
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;     
  left: 50%;
  transform: translate( -50%, -50%);
}

.title_area {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  /* Makes the columns (profile) be spaced evenly across screen size */
  justify-content: space-evenly;
}

.section_subcommittee {
  display: flex;
  flex-wrap: wrap;
  margin-left: 160px;
  margin-right: 100px;
  margin-bottom: 20px;
  padding: 10px;
}

.profile {
  /* Space between when resizing */
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.profile_details {
  text-align: left;
  line-height: 5%;
}

.profile_details_subcommittee {
  margin-top: 10px;
  margin-left: 30px;
  text-align: left;
  line-height: 5%;
}

.icon_bar {
  width: 90px;
}

.icon_bar a {
  float: left;
  width: 20%;
  padding: 12px 0;
}

.icon {
  width: 15px;
  height: 15px;
  border: 0;
  margin-right: 10px;
}

/* CSS for the different word styles in the profile description */

.subheader {
  font-family: Arial;
  font-size: 13pt;
  color: grey;
  font-weight: bold;
}

.profile_text_name {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  color: orange;
}

.profile_text_position {
  font-family: Arial;
  font-size: 5pt;
  color: orange;
  font-weight: bold;
}

p {
  font-family: Arial;
  font-size: 7pt;
  margin-top: 0;
  color: orange;
}
